.card{border-radius: 16px;}
.card-body{ overflow: hidden; padding: 15px;}
.material-icons {font-size: 18px}
.aqi{font-size: 48px; font-weight: 900; color: black; font-family: poppins;}
.aqi small{font-size: 12px; color: #FF9933;}
span{color: #6E6E6E;}
.border-bottom{ border-bottom: 1px solid #ccc;}
.mapMenu{ position: absolute; right: 20px; top:20px; border: 1px solid #E0E0E0;
    --mdc-icon-button-state-layer-size: 36px;
    line-height:48px; border-radius: 8px!important; padding: 0;
}
.mapMenu .mat-mdc-button-persistent-ripple {
    border-radius: 8px;
}
:ng-deep .mdc-text-field--filled{
    border: 1px solid #ccc;
    padding-left: 0;
    --mat-mdc-form-field-label-offset-x: -16px;
    --mdc-filled-text-field-container-shape: 16px;
}
small.moreInfo {
    font-size: .830em;
    line-height: 14px;
}
small .dark{
    font-size: 12px; color: black; font-weight: 500;
}
.dot{border-radius: 6px;
    background:  #E8EAF2; height: 6px; width: 6px; display: block; margin: 0 1px;}
.dot.active{background: #1C2D7B;}

.font-normal{font-weight: 400;}