
    <mat-card-content class="p-0">
      <form [formGroup]="form">
        @if(this.task.sequence == 0) {
        <div [ngClass]="{ 'readonly-div': !this.task.hasAccess }">
          <div class="row">
            <label class="mb-1">Verification</label>
            <hr>
            <div class="col-md-6">
              <button mat-flat-button class="btnSubmit" (click)="ViewOnMap(this.task)">
                View on Camera
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col d-flex gap-2">
              <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                Next
              </button>
              
              <button mat-stroked-button  (click)="CancelAction()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        }

        @if(this.task.sequence == 1) {
        <div class="row">
          <div class="col-md-6">
            <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
              Assign to Site Engineer
            </button>
          </div>
        </div>
        }

        @if(this.task.sequence == 2) {
        <div [ngClass]="{ 'readonly-div': !this.task.hasAccess }">
         
            <h4 class="mb-1">Broadcasting</h4>
         
          <hr />

          <!-- Wrap whole tab group to avoid mismatches -->
          <ng-container ngSkipHydration>
            <div class="row">
              <div class="col-md-12">
                <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      PA Broadcasting
                    </ng-template>
                    <app-pa-action></app-pa-action>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      VMS Broadcasting
                    </ng-template>
                    <app-vms-broadcasting></app-vms-broadcasting>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      Flash Mode
                    </ng-template>
                    <app-vms-broadcasting></app-vms-broadcasting>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </ng-container>
<hr>
          <div class="row">
            <div class="col-md-12 d-flex gap-2">
              <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                Closed
              </button>
              
              <button mat-flat-button class="btnCancel"  (click)="CancelAction()">
                Reassign
              </button>
            </div>
          </div>
        </div>
        }
        @if(this.task.sequence == 3) {
        <ng-container ngSkipHydration>
          <div class="row">
            <div class="col-md-12">
              <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                    Visual Verification
                  </ng-template>
                  <div class="row">
                    
                    <div class="col-md-6">
                      <button mat-flat-button class="btnSubmit  my-4 mx-2" (click)="ViewOnMap(this.task)">
                        View on Camera
                      </button>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                    API Verification
                  </ng-template>
                  <div class="row">
                    
                    <div class="col-md-12">
                      <div class="card border-0">
                      <div class="card-body">
                      <app-api-action></app-api-action>
                      </div>
                      </div>

                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <hr>
              <div class="row">
                <div class="col d-flex gap-2">
                  <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                    Submit
                  </button>
                  
                  <button mat-stroked-button (click)="CancelAction()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        }
      </form>
    </mat-card-content>
