<div class="dialog-header" [ngClass]="data.type">
  <span class="dialog-title">{{ data.title || 'Confirm' }}</span>
  <span *ngIf="data.snapTime" class="me-3" style="font-size: 14px; opacity: 0.9;">
      {{ data.snapTime }}
    </span>
    
  <span class="dialog-icon">
   <mat-icon 
 
  (click)="onCancel()" 
  class="clickable-icon"
>
  close
</mat-icon>
    <mat-icon *ngIf="data.type === 'warning'">warning</mat-icon>
    <mat-icon *ngIf="data.type === 'info'">info</mat-icon>
    <mat-icon *ngIf="data.type === 'alert'">error_outline</mat-icon>
  </span>
</div>

<div class="dialog-content p-0">
  <img [src]="data.src" alt="image" width="100%" class="img-responsive">
</div>

<!-- <div class="dialog-actions">
  <button mat-button (click)="onCancel()">{{ data.cancelButtonText || 'Cancel' }}</button>
  <button mat-raised-button class="confirm-button" (click)="onConfirm()">
    {{ data.confirmButtonText || 'Confirm' }}
  </button>
</div> -->
