<div class="row mt-1">
    <div class="col-md-12">
        <div class="card">
            <form [formGroup]="form">
                <div class="card-body" id="editForm">

                    <div class="row">
                        <mat-card-header>
                            <div class="col-md-12" style="padding-left: 10px;">
                                <mat-card-title>
                                    <h2 style="margin-top: 10px;">PA Action</h2>
                                </mat-card-title>
                            </div>

                        </mat-card-header>
                    </div>

                    <hr>

                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-3">
                                <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                                    Get Audio
                                </button>
                            </div>
                            <div class="col-md-9">
                                <app-cm-select2 *ngIf="!isApiLoaded" [formGroup]="form" [controlName]="'audioId'"
                                    [settings]="audioSettings" (optionSelected)="onManagerSelected($event)">
                                </app-cm-select2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <app-cm-select2 *ngIf="!isApiLoaded" [formGroup]="form" [controlName]="'junctionId'"
                                    [settings]="junctionSettings" (optionSelected)="onManagerSelected($event)">
                                </app-cm-select2>
                            </div>
                            <div class="col-md-6 bottom">
                                <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </div>
            </form>
        </div>
    </div>
</div>