
<div class="row mb-2 mt-2 d-flex">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <div class="card text-left">
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" (dateChange)="DateWiseFilter($event,'start')">
                    <input matEndDate placeholder="End date" (dateChange)="DateWiseFilter($event,'end')">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-evenly">
            <div class="col-md-2 d-flex flex-col justify-content-start">
                
                    <div class="col-md-12">
 <div class="card todays mt-2">
                    <div class="card-body">
                        <div class="d-flex align-items-center"><img src="assets/img/pa-online.png" alt="" class="me-2" width="28px"><span class="text-uppercase"> Online PA
 </span></div>
                        <div class="count mt-4 mb-4">
                              {{ onlineCount }}
                        </div>
                       
                       
                    </div>
                </div>
            
            
           
                <div class="card todays mt-2 mb-2">
                    <div class="card-body">
                        <div class="d-flex align-items-center"><img src="assets/img/pa-offline.png" alt="" class="me-2" width="28px"><span class="text-uppercase"> Offline PA</span></div>
                        <div class="count mt-4 mb-4">
                               {{ offlineCount }}
                        </div>
                        
                    </div>
                </div>
              
          
                <!-- <div class="card todays">
                    <div class="card-body">
                        <div class="d-flex align-items-center"><img src="assets/img/challan.png" alt="" class="me-2"><span class="text-uppercase">Registration <br/> Status</span></div>
                        <div class="count mt-4">
                          <img src="assets/img/registered.png" alt="" width="60px">

                        </div>
                       
                    </div>
                </div> -->
                  
</div>
                </div>
                 <div class="col-md-10">
                    <div class="d-flex justify-content-end mb-1">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" color="primary">
    <mat-button-toggle value="bold" class="py-1" (click)="showComponent('a')"><mat-icon> map</mat-icon> Map View</mat-button-toggle>
    <mat-button-toggle value="italic" class="py-1" (click)="showComponent('b')"><mat-icon> list</mat-icon> List View</mat-button-toggle>
    <mat-button-toggle value="underline" class="py-1" (click)="showComponent('c')"><mat-icon> campaign</mat-icon> Ongoing Announcement</mat-button-toggle>
  </mat-button-toggle-group></div>
                    <div class="row">
<div class="col-12">
    <div class="card" *ngIf="activeComponent === 'a'">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between">
<label for=""><img src="assets/img/pa_grey.png" alt="" class="me-1"> Unregistered</label>
<label for=""><img src="assets/img/pa_blue.png" alt="" class="ms-3 me-1"> Registered</label>
<label for=""><img src="assets/img/pa_green.png" alt="" class="ms-3 me-1"> Ongoing</label>
                </div> <div class="d-flex align-items-center justify-content-between col-md-6">
<!-- <mat-form-field class="w-50">
    <mat-select placeholder="Select Zone">
                        <mat-option>dsds </mat-option>
                        <mat-option>sdsd </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <!-- <mat-form-field class="w-50">
    <mat-select placeholder="Select PA">
                        <mat-option>dsds </mat-option>
                        <mat-option>sdsd </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
            </div>
        </div>
        <div class="card-body p-0" >
<app-mapview [mapHeight]="mapHeight" class="mb-0" ></app-mapview>
        </div>
    </div>

       <div class="card" *ngIf="activeComponent === 'b'">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between"><mat-icon> list</mat-icon>
<label for="" class="ms-1">  PA List View </label>

                </div> <div class="d-flex align-items-center justify-content-between col-md-8">
<!-- <mat-form-field >
    <mat-select placeholder="Select">
                        <mat-option>PA </mat-option>
                        <mat-option>Zone </mat-option>
                        <mat-option>Group </mat-option>
                    </mat-select>
                  </mat-form-field> -->
<!-- <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Search">
               
              </mat-form-field> -->
                  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Download PA Status Report PDF">
        <mat-icon class="text-danger">file_copy</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Download PA Status Report Excel">
        <mat-icon class="text-success">table_view</mat-icon>
      </button>
    </div>
  </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0" >
<app-cm-table [headArr]="paHeadArr" [gridArr]="paList" [pagination]="true" [totalRecords]="totalRecords"
                    [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize"
                    (pager)="onPageChange($event)" (recordPerPage)="onPageRecordsChange($event)"
                    (searchWithId)="onRowClicked($event)" (btnAction)="onButtonClicked($event)">
                </app-cm-table>
        </div>
    </div>
<div class="card" *ngIf="activeComponent === 'c'">
<div class="card-body p-0">
    <mat-tab-group>
  <mat-tab label="Ongoing Announcements">
  <app-cm-table [headArr]="paOngoingHeadArr" [gridArr]="items" [pagination]="true" [totalRecords]="totalRecords"
                    [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize"
                    (pager)="onPageChange($event)" (recordPerPage)="onPageRecordsChange($event)"
                    (searchWithId)="onRowClicked($event)" (btnAction)="onButtonClicked($event)">
                </app-cm-table>

</mat-tab>
  <!-- <mat-tab label="Upcoming Schedule Announcements">  
    <app-cm-table [headArr]="paUpcomingHeadArr" [gridArr]="paUpcomingList" [pagination]="true" [totalRecords]="totalRecords"
                    [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize"
                    (pager)="onPageChange($event)" (recordPerPage)="onPageRecordsChange($event)"
                    (searchWithId)="onRowClicked($event)" (btnAction)="onButtonClicked($event)">
                </app-cm-table> 
            
            </mat-tab> -->

</mat-tab-group>
</div>
</div>
</div>
                        </div>
                        </div>

                        </div>

<button mat-raised-button (click)="openRightDialog()" class="menu-toggle broad-btn"><mat-icon class="faa-tada animated">campaign</mat-icon> </button>