<div class="row mt-1">
    <div class="col-md-12">
<div class="card">
  <div class="card-header">
     <mat-card-title><h4 class="mt-1 mb-0">Project Field Configuration</h4></mat-card-title>   
  </div>
    <div class="card-body"  id="editForm">

<div class="filter-row d-flex justify-content-between align-items-start">

          <!-- Left Filters -->
          <app-cm-select2 *ngIf="isProjectOptionsLoaded" [formGroup]="form" [controlName]="'selectedProject'"
            [settings]="projectSelectSettings" (optionSelected)="onProjectSelected($event)">
          </app-cm-select2>

          <app-cm-select2 [formGroup]="form" [controlName]="'selectedStatus'" [settings]="statusSelectSettings"
            (optionSelected)="onProjectSelected($event)">
          </app-cm-select2>

  <button mat-flat-button
       class="btn-primary mt-4" (click)="submit()">
        Submit
        </button>



  <!-- Right Side Container for Button + Search -->
  <div style="margin-left: auto; display: flex; flex-direction: column; align-items: flex-end; gap: 8px;">
    
      <!-- Create Button -->
      <button mat-flat-button
      class="btn-primary w-100" (click)="openDialog()">
      + Create Project Field Configuration
    </button>

            <!-- Search Input -->
            <div style="max-width: 250px; width: 100%;">
              <app-cm-input [formGroup]="form" [controlName]="'searchText'" [_inputData]="squareSettings">
              </app-cm-input>
            </div>
          </div>
        </div>

        <app-cm-table [headArr]="headArr" [gridArr]="items" [pagination]="true" [totalRecords]="totalRecords"
          [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize" (pager)="onPageChange($event)"
          (recordPerPage)="onPageRecordsChange($event)" (searchWithId)="onRowClicked($event)"
          (btnAction)="onButtonClicked($event)">
        </app-cm-table>
      </div>
    </div>
  </div>
</div>