<!-- <p>user-profile</p> -->
<div class="card profile-container">
<div class="card-header">
  <h2 class="title my-2">User Profile</h2>
  </div>
  <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
  <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  <div class="card-body">
  <form (ngSubmit)="saveProfile()" #profileForm="ngForm" novalidate>

    <!-- First Name -->
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        [(ngModel)]="profile.firstName"
        name="firstName"
        required
        placeholder="Enter first name"
      />
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        [(ngModel)]="profile.lastName"
        name="lastName"
        required
        placeholder="Enter last name"
      />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="profile.email"
        name="email"
        required
        placeholder="Enter email address"
      />
    </div>

    <!-- Mobile -->
    <!-- <div class="form-group">
      <label>Mobile Number</label>
      <input
        type="text"
        [(ngModel)]="mobile"
        name="mobile"
        minlength="10"
        maxlength="10"
        placeholder="10-digit mobile number"
      />
    </div> -->

    <!-- Mobile -->
<div class="form-group">
  <label>Mobile Number</label>

  <input
    type="text"
    name="mobile"
    [(ngModel)]="mobile"
    #mobileCtrl="ngModel"
    required
    pattern="^[0-9]{10}$"
    maxlength="10"
    placeholder="10-digit mobile number"
    (keypress)="allowOnlyNumbers($event)"
  />

  <!-- Validation messages -->
  <div class="error" *ngIf="mobileCtrl.invalid && mobileCtrl.touched">
    <small *ngIf="mobileCtrl.errors?.['required']">
      Mobile number is required
    </small>
    <small *ngIf="mobileCtrl.errors?.['pattern']">
      Mobile number must be exactly 10 digits
    </small>
  </div>
</div>

    <!-- Actions -->
    <div class="button-group">
      <button type="submit" [disabled]="profileForm.invalid">
        Save Profile
      </button>

      <!-- <button type="button" class="secondary" (click)="openChangePassword()">
        Change Password
      </button> -->
    </div>

  </form>

  <!-- Messages -->
</div>

</div>
