       
        <mat-card-content class="p-0">
            <form [formGroup]="form">
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h2>VMS Device Failure</h2>
                    </div>
                </div>
                <hr> -->
                @if(this.task.sequence == 0) {
                <div class="row">
                    <div class="col-md-6">
                        <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                            Assign to Site Engineer
                        </button>
                    </div>
                </div>
                }
                @if(this.task.sequence == 1) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <div class="row">
                        <div class="col-md-12">
                            <app-cm-textarea [formGroup]="form" [controlName]="'remarks'"
                                [_inputData]="inputFields.remarks">
                            </app-cm-textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="me-2">Attachment </label> 
                            <input type="file">
                        </div>
                  
                        <div class="col-md-6 text-right d-flex align-items-center">
                            <mat-checkbox class="example-margin me-2" formControlName="isVerified" color="primary"></mat-checkbox>Mark as
                                closed
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col d-flex gap-2">
                            <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                                Submit
                            </button>
                           
                            <button mat-stroked-button (click)="CancelAction()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                }
                @if(this.task.sequence == 2) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <div class="row">
                        <label>Verification</label>
                        <br>
                        <div class="col-md-6">
                            <button mat-flat-button class="btnSubmit" (click)="ViewOnMap(this.task)">
                                View on Map
                            </button>
                        </div>
                        <div class="col-md-6 text-right">
                            <mat-checkbox class="example-margin" formControlName="isVerified" color="primary">Is Verified</mat-checkbox>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                                Closed
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                                Reassign
                            </button>
                        </div>
                    </div>
                </div>
                }
            </form>
        </mat-card-content>

