<div class="position-relative">
    <highcharts-chart
  *ngIf="Highcharts && chartOptions"
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 150px; display: block; margin-top: -50px; margin-bottom: 40px;">
</highcharts-chart>
<div class="gauge-center-label d-flex flex-column">
    <span  class="mb-3 guageImg"><img [src]="guageImg" alt=""></span>
  
  <span class="quality"> Need Improvement  </span></div>
  </div>

  <div class="d-flex justify-content-center mt-5"><button mat-raised-button class="btn-primary mb-2 w-75">Details</button></div>