<div class="dialog-container">

    <h2>Project Configuration</h2>

    <hr class="input-header-hr" /> 
    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-12">
                <label>Name</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'name'"
                  [_inputData]="inputFields.name">
                </app-cm-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'name'"
                  [_inputData]="inputFields.description">
                </app-cm-input>
            </div>
        </div>

   
  
      <!-- Toggles -->
      <div class="toggle-row">
        <div class="toggle-column">
          <label class="toggle-label">Is Active?</label>
          <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader"></app-cm-toggle>
        </div>
      
        <div class="toggle-column">
          <label class="toggle-label">Is Active?</label>
          <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader"></app-cm-toggle>
        </div>
      </div>
      
  
      <!-- File Uploads -->
      <div class="file-upload">
        <label>
          Map Icon*
          <input type="file" (change)="onFileChange($event, 'mapIcon')" />
        </label>
  
        <label>
          Project Icon*
          <input type="file" (change)="onFileChange($event, 'projectIcon')" />
        </label>
      </div>
  
         <!-- Toggles -->
         <div class="toggle-row">
              <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader"></app-cm-toggle>
            
          </div>
  
      <!-- Action Buttons -->
      <div class="dialog-actions">
        <button mat-button (click)="close()">Cancel</button>
        <button mat-flat-button color="primary" (click)="submit()">Save</button>
      </div>
    </form>
  </div>
  