<div class="card mt-1">
  <div class="card-header d-flex justify-content-between align-items-center">
    <mat-card-title><h4 class="mt-1 mb-0">Rule Engine</h4></mat-card-title>

    <button
      mat-icon-button
      matTooltip="Back to List"
      aria-label="Back"
      (click)="close()"
      style="margin-top: -10px; margin-bottom: -10px"
    >
      <mat-icon>reply</mat-icon>
    </button>
  </div>

  <div class="card-body">
    <div class="container">
      <!-- Stepper Sidebar -->
      <div class="sidebar">
        <h2>Step {{ currentStep + 1 }}</h2>
        <p class="subtitle">
          Enter your personal information to get closer to companies.
        </p>
        <div class="steps">
          <div *ngFor="let step of steps; let i = index" class="step">
            <div class="circle" [class.active]="i === currentStep">
              {{ i + 1 }}
            </div>
            <div class="label" [class.active]="i === currentStep">
              {{ step }}
            </div>
          </div>
        </div>
      </div>

      <!-- Step Content -->
      <div class="content">
        <div *ngIf="currentStep === 0">
          <h3>Rule Information</h3>

          <hr />
          <div [formGroup]="firstFormGroup">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <label class="mb-1">Policy Name*</label
                  >
                  <div *ngIf="firstFormGroup">
                    <app-cm-input
                      [formGroup]="firstFormGroup"
                      [controlName]="'policyName'"
                      [_inputData]="inputFields.policyName"
                    >
                    </app-cm-input>
                    <div
                      *ngIf="f['tat'].touched && f['tat'].errors"
                      class="text-danger mt-1"
                    >
                      {{
                        getErrorMessage(
                          "policyName",
                          "Policy Name",
                          true,
                          "Enter a valid
                                                    Name."
                        )
                      }}
                    </div>
                    <!-- <div *ngIf="f?.['tat']?.touched && f?.['tat']?.errors" class="text-danger mt-1">
                                                    {{ getErrorMessage('policyName', 'Policy Name', true, 'Enter a valid Name.') }}
                                                    </div> -->
                    <div
                      *ngIf="f['policyName']?.errors?.['invalidChars']"
                      class="text-danger mt-1"
                    >
                      Special characters are not allowed.
                    </div>
                    <div *ngIf="policyNameExists" class="text-danger mt-1">
                      Policy name is already exists.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <app-cm-select2
                    [formGroup]="firstFormGroup"
                    [controlName]="'selectedCategory'"
                    [settings]="categorySelectSettings"
                  >
                  </app-cm-select2>
                  <div
                    *ngIf="
                      f['selectedCategory'].touched &&
                      f['selectedCategory'].errors
                    "
                    class="text-danger mt-1"
                  >
                    {{
                      getErrorMessage(
                        "selectedCategory",
                        "Category",
                        true,
                        "Enter a valid
                                                    Category."
                      )
                    }}
                  </div>
                </div>
              </div>
              
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="mb-1"
                    >Ticket Abbreviation</label
                  >
                  <div>
                    <app-cm-input
                      [formGroup]="firstFormGroup"
                      [controlName]="'ticketabb'"
                      [_inputData]="inputFields.ticketabb"
                    >
                    </app-cm-input>
                    <div
                      *ngIf="f['ticketabb']?.errors?.['invalidChars']"
                      class="text-danger mt-1"
                    >
                      Special characters are not allowed.
                    </div>
                    <div
                      *ngIf="f['tat'].touched && f['tat'].errors"
                      class="text-danger mt-1"
                    >
                      {{
                        getErrorMessage(
                          "ticketabb",
                          "Ticket Abbreviation",
                          true,
                          "Enter a valid
                                                    Abbreviation."
                        )
                      }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <app-cm-select2
                    *ngIf="userOptionsLoaded"
                    [formGroup]="firstFormGroup"
                    [controlName]="'selectedUserGroup'"
                    [settings]="userGroupSettings"
                  >
                  </app-cm-select2>
                  <div
                    *ngIf="
                      f['selectedUserGroup'].touched &&
                      f['selectedUserGroup'].errors
                    "
                    class="text-danger mt-1"
                  >
                    {{
                      getErrorMessage(
                        "selectedUserGroup",
                        "User group",
                        true,
                        "Enter a valid
                                                    User Group."
                      )
                    }}
                  </div>
                </div>
              </div>
             
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="mb-1"
                    >TAT (Hours)</label
                  >
                  <div>
                    <app-cm-input
                      [formGroup]="firstFormGroup"
                      [controlName]="'tat'"
                      [_inputData]="inputFields.tat"
                    >
                    </app-cm-input>
                    <div
                      *ngIf="f['tat'].touched && f['tat'].errors"
                      class="text-danger mt-1"
                    >
                      {{
                        getErrorMessage(
                          "tat",
                          "TAT",
                          true,
                          "Enter a valid
                                                    TAT."
                        )
                      }}
                      {{
                        getErrorMessage(
                          "tat",
                          "TAT",
                          true,
                          "Enter a valid
                                                    TAT."
                        )
                      }}
                    </div>
                  </div>
                </div>
                           
                <div class="col-md-6">
                  <label class="mb-1"
                    >Interval (Minutes)</label
                  >
                  <div>
                    <app-cm-input
                      [formGroup]="firstFormGroup"
                      [controlName]="'intervalTime'"
                      [_inputData]="inputFields.intervalTime"
                    >
                    </app-cm-input>

                    <div
                      *ngIf="
                        f['intervalTime'].touched && f['intervalTime'].errors
                      "
                      class="text-danger mt-1"
                    >
                      {{
                        getErrorMessage(
                          "intervalTime",
                          "Interval Time",
                          true,
                          "Enter a
                                                    valid Duration."
                        )
                      }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-3">
                  <label class="toggle-label">Enabled</label>
                  <app-cm-toggle
                    [formGroup]="firstFormGroup"
                    [settings]="isActiveToggle"
                   
                  ></app-cm-toggle>
                </div>
                <div class="col-md-3">
                  <label class="toggle-label">IsInternal</label>
                  <app-cm-toggle
                    [formGroup]="firstFormGroup"
                    [settings]="isinternal"
                    
                  ></app-cm-toggle>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="currentStep === 1">
          <h3>Rule Design</h3>
          <hr />
          <div [formGroup]="secondFormGroup">
            <form>
              <div class="row">
                <div class="col d-flex justify-content-start align-items-center gap-2">
                  <app-cm-select2
                    *ngIf="isProjectOptionsLoaded"
                    [formGroup]="secondFormGroup"
                    [controlName]="'selectedProject'"
                    [settings]="projectSettings"
                  ></app-cm-select2>
                
                 <button
                    color="primary"
                    class="mt-4 px-3"
                    return="submit"
                    (click)="onAddGroup()"
                  >
                    + Add
                  </button>
                </div>
              </div>
             
              <div *ngIf="groupsFormArray.length > 0">
                 <hr />
                <div
                  class="row"
                  *ngFor="let arr of groupsFormArray.controls; let i = index"
                  [formGroup]="arr"
                >
                  <div class="row">
                    <div class="col">
                      <h4>{{ arr.get("projName")?.value || "Project2" }}</h4>
                      <!-- <pre>{{ groupsFormArray.value | json }}</pre> -->
                    </div>
                    <div class="row rmBtn" *ngIf="i !== 0">
                      <div class="col">
                        <app-cm-select2
                          [formGroup]="arr"
                          [controlName]="'condition2'"
                          [settings]="conditionSelectSettings"
                        >
                        </app-cm-select2>
                      </div>
                    </div>
                    <div class="col text-right">
                      <span class="material-icons" (click)="removeGroup(i)">
                        close
                      </span>
                    </div>
                  </div>
                  <div *ngIf="getExpressionGroup(i).value.length > 0">
                    <div class="bg-light p-3 rounded-4 border-1 mb-3">
                      <div class="row">
                        <div class="col d-flex gap-2 justify-content-end">
                          <app-cm-button
                            color="primary"
                            type="stroked"
                            class="rmBtn"
                            matTooltip="Add"
                            return="remove"
                            (click)="addFormArrayGroup(i)"
                            ><mat-icon fontset="material-icons-outlined">
                              add
                            </mat-icon></app-cm-button
                          >
                          <app-cm-button
                            color="primary"
                            type="stroked"
                            class="rmBtn"
                             matTooltip="Remove"
                            return="remove"
                            ><mat-icon fontset="material-icons-outlined"
                              >delete</mat-icon
                            ></app-cm-button
                          >
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col">
                          <app-cm-select2
                            [formGroup]="arr"
                            [controlName]="'condition'"
                            [settings]="conditionSelectSettings"
                          >
                          </app-cm-select2>
                        </div>
                      </div>
                      <div
                        class="row mt-2"
                        *ngFor="
                          let group of getExpressionGroup(i).controls;
                          let j = index
                        "
                        [formGroup]="group"
                      >
                        <div class="col" *ngIf="apiOption">
                          <app-cm-select2
                            [formGroup]="group"
                            *ngIf="apiOption"
                            [controlName]="'apiName'"
                            [settings]="group.get('apiSettings')?.value"
                            (returnObject)="onApiChange($event, i, j)"
                          >
                          </app-cm-select2>
                        </div>

                        <div class="col">
                          <app-cm-select2
                            [formGroup]="group"
                            *ngIf="group.get('fieldOption')?.value"
                            [controlName]="'fieldName'"
                            [settings]="group.get('fieldSettings')?.value"
                            (returnObject)="onFieldChange($event, i, j)"
                          >
                          </app-cm-select2>
                        </div>
                        <div class="col">
                          <app-cm-select2
                            [formGroup]="group"
                            *ngIf="group.get('expOption')?.value"
                            [controlName]="'expression'"
                            [settings]="group.get('expressionSettings')?.value"
                          ></app-cm-select2>
                        </div>
                        <div class="col">
                          <label
                           class="mb-1"
                            >Field Value*</label
                          >
                          <div>
                            <app-cm-input
                              [formGroup]="group"
                              [controlName]="'fieldValue'"
                              [_inputData]="inputFields.fieldValue"
                            >
                            </app-cm-input>
                          </div>
                        </div>
                        <div class="col d-flex justify-content-end flex-shrink-1 text-center">
                          <span
                            class="material-icons"
                            *ngIf="j !== 0"
                            (click)="removeArray(i, j)"
                          >
                            close
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="currentStep === 2">
          <h3>Rule Schedule</h3>
          <p class="info-text">Add your work experience here...</p>
          <hr />

          <!--                             
                            <div [formGroup]="thirdFormGroup">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="position: relative; top: 6px; display: block;">Minute*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'minute'"
                                            [settings]="minuteSettings"
                                            (returnObject)="setThirdFormValues($event,'min')"></app-cm-select-check>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="position: relative; top: 6px; display: block;">Hour*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'hour'"
                                            [settings]="hourSettings"
                                            (returnObject)="setThirdFormValues($event,'hour')"></app-cm-select-check>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Day Of
                                            Month*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfMonth'"
                                            [settings]="dayMonthSettings"
                                            (returnObject)="setThirdFormValues($event,'daymon')"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Month*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'month'"
                                            [settings]="monthSettings"
                                            (returnObject)="setThirdFormValues($event,'mon')"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Day Of
                                            Week*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfWeek'"
                                            [settings]="dayWeekSettings"
                                            (returnObject)="setThirdFormValues($event,'day')"
                                            [selectedEditValue]="[1]"></app-cm-select-check>
                                    </div>
                                </div>
                            </div> -->

          <app-cm-cron
            *ngIf="parent_true"
            [initialCron]="parentCron"
            (cronChange)="onCronUpdate($event)"
          >
          </app-cm-cron>
        </div>
        <hr />
       <div class="row">
          <div class="col d-flex justify-content-end gap-2">
            @if(currentStep != 0 ){
            <button (click)="goBack()" class="d-flex align-items-center">
              <mat-icon> arrow_left </mat-icon> Previous
            </button>
            } @if(currentStep == 2){
            <button (click)="Submit()">Submit</button>
            } @else {
            <button (click)="goNext()" class="d-flex align-items-center">
              Next <mat-icon> arrow_right </mat-icon>
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
