<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">Rule Engine</h2>
                    </mat-card-title>
                </div>
                <div class="col text-right">
                    <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                        <mat-icon>reply</mat-icon>
                    </button>

                </div>
            </mat-card-header>
        </div>
        <hr>
        <div class="row">
            <mat-card-content>

                <div class="container">
                    <!-- Stepper Sidebar -->
                    <div class="sidebar">
                        <h2>Step {{ currentStep + 1 }}</h2>
                        <p class="subtitle">Enter your personal information to get closer to companies.</p>
                        <div class="steps">
                            <div *ngFor="let step of steps; let i = index" class="step">
                                <div class="circle" [class.active]="i === currentStep">{{ i + 1 }}</div>
                                <div class="label" [class.active]="i === currentStep">{{ step }}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Step Content -->
                    <div class="content">
                        <div *ngIf="currentStep === 0">
                            <h3>Rule Information</h3>

                            <hr>
                            <div [formGroup]="firstFormGroup">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">Policy
                                                Name*</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup" [controlName]="'policyName'"
                                                    [_inputData]="inputFields.policyName">
                                                </app-cm-input>
                                                  <div *ngIf="f['tat'].touched && f['tat'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('policyName', 'Policy Name', true, 'Enter a valid
                                                    Name.') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 12px">
                                            <app-cm-select2 [formGroup]="firstFormGroup"
                                                [controlName]="'selectedCategory'" [settings]="categorySelectSettings">
                                            </app-cm-select2>
                                               <div *ngIf="f['tat'].touched && f['tat'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('selectedCategory', 'Category', true, 'Enter a valid
                                                    Category.') }}
                                                </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">Ticket
                                                Abbreviation</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup" [controlName]="'ticketabb'"
                                                    [_inputData]="inputFields.ticketabb">
                                                </app-cm-input>
                                                    <div *ngIf="f['tat'].touched && f['tat'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('ticketabb', 'Ticket Abbreviation', true, 'Enter a valid
                                                    Abbreviation.') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 12px">
                                            <app-cm-select2 *ngIf="userOptionsLoaded" [formGroup]="firstFormGroup"
                                                [controlName]="'selectedUserGroup'" [settings]="userGroupSettings">
                                            </app-cm-select2>
                                                   <div *ngIf="f['tat'].touched && f['tat'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('selectedUserGroup', 'User group', true, 'Enter a valid
                                                    User Group.') }}
                                                </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">TAT
                                                (Hours)</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup" [controlName]="'tat'"
                                                    [_inputData]="inputFields.tat">
                                                </app-cm-input>
                                                <div *ngIf="f['tat'].touched && f['tat'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('tat', 'TAT', true, 'Enter a valid
                                                    TAT.') }}
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">Interval
                                                (Minutes)</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup"
                                                    [controlName]="'intervalTime'"
                                                    [_inputData]="inputFields.intervalTime">
                                                </app-cm-input>

                                                  <div *ngIf="f['intervalTime'].touched && f['intervalTime'].errors"
                                                    class="text-danger mt-1">
                                                    {{ getErrorMessage('intervalTime', 'Interval Time', true, 'Enter a
                                                    valid Duration.') }}
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="toggle-label">Enabled</label>
                                            <app-cm-toggle [formGroup]="firstFormGroup" [settings]="isActiveToggle"
                                                style="margin-top: -35px;"></app-cm-toggle>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="toggle-label">IsInternal</label>
                                            <app-cm-toggle [formGroup]="firstFormGroup" [settings]="isinternal"
                                                style="margin-top: -35px;"></app-cm-toggle>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div *ngIf="currentStep === 1">
                            <h3>Rule Design</h3>
                            <hr>
                            <div [formGroup]="secondFormGroup">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <app-cm-select2 *ngIf="isProjectOptionsLoaded" [formGroup]="secondFormGroup"
                                                [controlName]="'selectedProject'"
                                                [settings]="projectSettings"></app-cm-select2>
                                        </div>
                                        <div class="col-md-1 text-left" style="padding-top : 30px">
                                            <app-cm-button color="primary" type="stroked" class="m-r-8" return="submit"
                                                (click)="onAddGroup()">Add</app-cm-button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div *ngIf="groupsFormArray.length > 0">
                                        <div class="row" *ngFor="let arr of groupsFormArray.controls; let i = index"
                                            [formGroup]="arr">
                                            <div class="row">
                                                <div class="col">
                                                    <h4>{{ arr.get('projName')?.value || 'Project2' }}</h4>
                                                    <!-- <pre>{{ groupsFormArray.value | json }}</pre> -->

                                                </div>
                                                <div class="row rmBtn" *ngIf="i !== 0">
                                                    <div class="col">
                                                        <app-cm-select2 [formGroup]="arr" [controlName]="'condition2'"
                                                            [settings]="conditionSelectSettings">
                                                        </app-cm-select2>
                                                    </div>
                                                </div>
                                                <div class="col text-right">

                                                    <span class="material-icons" (click)="removeGroup(i)">
                                                        close
                                                    </span>

                                                </div>
                                            </div>
                                            <div *ngIf="getExpressionGroup(i).value.length > 0">
                                                <div class="grey-box">
                                                    <div class="row">
                                                        <div class="col text-right">
                                                            <app-cm-button color="primary" type="stroked" class="rmBtn"
                                                                return="remove"
                                                                (click)="addFormArrayGroup(i)">Add</app-cm-button>
                                                            <app-cm-button color="primary" type="stroked" class="rmBtn"
                                                                return="remove">Remove</app-cm-button>
                                                        </div>
                                                    </div>
                                                    <div class="row rmBtn">
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="arr"
                                                                [controlName]="'condition'"
                                                                [settings]="conditionSelectSettings">
                                                            </app-cm-select2>
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                        *ngFor="let group of getExpressionGroup(i).controls; let j = index"
                                                        [formGroup]="group">
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="group" *ngIf="apiOption"
                                                                [controlName]="'apiName'"
                                                                [settings]="group.get('apiSettings')?.value"
                                                                (returnObject)="onApiChange($event, i, j)">
                                                            </app-cm-select2>
                                                        </div>

                                                        <div class="col">

                                                            <app-cm-select2 [formGroup]="group"
                                                                *ngIf="group.get('fieldOption')?.value"
                                                                [controlName]="'fieldName'"
                                                                [settings]="group.get('fieldSettings')?.value"
                                                                (returnObject)="onFieldChange($event, i, j)">
                                                            </app-cm-select2>
                                                        </div>
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="group"
                                                                *ngIf="group.get('expOption')?.value"
                                                                [controlName]="'expression'"
                                                                [settings]="group.get('expressionSettings')?.value"></app-cm-select2>
                                                        </div>
                                                        <div class="col">
                                                            <label
                                                                style="position: relative; top: 6px; display: block;">Field
                                                                Value*</label>
                                                            <div>
                                                                <app-cm-input [formGroup]="group"
                                                                    [controlName]="'fieldValue'"
                                                                    [_inputData]="inputFields.fieldValue">
                                                                </app-cm-input>
                                                            </div>
                                                        </div>
                                                        <div class="col text-right">

                                                            <span class="material-icons" *ngIf="j !== 0"
                                                                (click)="removeArray(i,j)">
                                                                close
                                                            </span>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div *ngIf="currentStep === 2">
                            <h3>Rule Schedule</h3>
                            <p class="info-text">Add your work experience here...</p>
                            <hr>


<!--                             
                            <div [formGroup]="thirdFormGroup">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="position: relative; top: 6px; display: block;">Minute*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'minute'"
                                            [settings]="minuteSettings"
                                            (returnObject)="setThirdFormValues($event,'min')"></app-cm-select-check>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="position: relative; top: 6px; display: block;">Hour*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'hour'"
                                            [settings]="hourSettings"
                                            (returnObject)="setThirdFormValues($event,'hour')"></app-cm-select-check>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Day Of
                                            Month*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfMonth'"
                                            [settings]="dayMonthSettings"
                                            (returnObject)="setThirdFormValues($event,'daymon')"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Month*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'month'"
                                            [settings]="monthSettings"
                                            (returnObject)="setThirdFormValues($event,'mon')"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <label style="position: relative; top: 6px; display: block;">Day Of
                                            Week*</label>
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfWeek'"
                                            [settings]="dayWeekSettings"
                                            (returnObject)="setThirdFormValues($event,'day')"
                                            [selectedEditValue]="[1]"></app-cm-select-check>
                                    </div>
                                </div>
                            </div> -->


                            <app-cm-cron 
                             *ngIf="parent_true" 
                              [initialCron]="parentCron" 
                              (cronChange)="onCronUpdate($event)">
                             </app-cm-cron>

                            




                            
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 text-left" *ngIf="currentStep != 0 ">
                                <button (click)="goBack()">Previous</button>
                            </div>
                            <div class="col-md-6 text-right">
                                @if(currentStep == 2){
                                <button (click)="Submit()">Submit</button>
                                }
                                @else {
                                <button (click)="goNext()">Next</button>
                                }
                            </div>

                        </div>


                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>