<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <hr>
        <mat-card-content>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6">
                        <app-cm-input [formGroup]="form" [controlName]="'contactNo'" [_inputData]="contactNoSettings">
                        </app-cm-input>
                    </div>
                    <div class="col-md-6" style="padding-top: 30px;">
                        <button mat-flat-button class="btnAddress" (click)="openDialog()">
                            + Address Book
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <app-cm-textarea [formGroup]="form" [controlName]="'msgText'"
                            [_inputData]="inputFields.msgText">
                        </app-cm-textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                            Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>