

<div class="row mt-1">
    <div class="col-md-12">
<div class="card">
    <div class="card-body"  id="editForm">

  <div class="row">
  <mat-card-header>
      <div class="col-md-11" style="padding-left: 10px;">
        <mat-card-title><h2 style="margin-top: 10px;">SOP Configuration</h2></mat-card-title>
      </div>
     
  </mat-card-header>
    </div>

<hr>

<div class="filter-row" style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 10px;">

  <!-- Left Filters -->
  <app-cm-select2
   *ngIf="isProjectOptionsLoaded"
    [formGroup]="form"
    [controlName]="'selectedProject'"
    [settings]="projectSelectSettings"
    (optionSelected)="onProjectSelected($event)">
  </app-cm-select2>

  <!-- <app-cm-select2
    [formGroup]="form"
    [controlName]="'selectedStatus'"
    [settings]="statusSelectSettings"
    (optionSelected)="onProjectSelected($event)">
  </app-cm-select2> -->

  <button mat-flat-button
        style="
        background-color: black;
        color: white;
        font-weight: 600;
        padding: 10px 25px;      
        border-radius: 8px;
        font-size: 13px;         
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        text-transform: none;
        white-space: nowrap;
        display: flex ; gap:420px ;margin-top: 32px;margin-left:25px;   " (click)="submit()"  
       >
        Submit
    </button>

        

  <!-- Right Side Container for Button + Search -->
  <div style="margin-left: auto; display: flex; flex-direction: column; align-items: flex-end; gap: 8px;">
    
      <!-- Create Button -->
      <button mat-flat-button
      style="
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: none;
    white-space: nowrap;     
  " (click)="openDialog()">
      + Create Project Configuration
    </button>

    <!-- Search Input -->
    <div style="max-width: 250px; width: 100%;">
      <app-cm-input
        [formGroup]="form"
        [controlName]="'searchText'"
        [_inputData]="squareSettings">
      </app-cm-input>
    </div>
  </div>
</div>

<app-cm-table
  [headArr]="headArr"
  [gridArr]="items"
  [pagination]="true"
  [totalRecords]="totalRecords"
  [perPage]="perPage"
  [totalPages]="totalPages"
  [collectionSize]="collectionSize"
  (pager)="onPageChange($event)"
  (recordPerPage)="onPageRecordsChange($event)"
  (searchWithId)="onRowClicked($event)"
  (btnAction)="onButtonClicked($event)">
</app-cm-table>
</div>
</div>
</div>
</div>