
<div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center">
  
        <mat-card-title><h4 class="mt-1 mb-0">Project Configuration</h4></mat-card-title>
           
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()" style="margin-top: -10px; margin-bottom: -10px;">
  <mat-icon>reply</mat-icon>
</button>
 
    </div>
  
  <div class="card-body">

    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'name'"
                  [_inputData]="inputFields.name">
                </app-cm-input>
                <!-- <mat-error *ngIf="form.get('name')?.hasError('whitespace')">
  Name cannot be empty or just spaces.
</mat-error> -->
  <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
    {{ getErrorMessage('name', 'Name', true, 'Special characters are not allowed') }}
  </div>
            </div>
             <div class="col-md-6">
                <label>Description</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'description'"
                  [_inputData]="inputFields.description">
                </app-cm-input>
                
                   <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'description'"
                  [_inputData]="inputFields.description">
                </app-cm-input>
                
                   <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
            </div>
        </div> -->

   
  
      <!-- Toggles -->
      <!-- <div class="toggle-row">
        <div class="toggle-column">
          <label class="toggle-label">Map?</label>
          <app-cm-toggle [formGroup]="form" [settings]="Maptoggle"  (returnObject)="ReturnValue($event)"></app-cm-toggle>
                   
        <div *ngIf="f['mapEnabled'].touched && f['mapEnabled'].errors" class="text-danger mt-1">
        {{ getErrorMessage('mapEnabled', 'Map', false, '') }}
      </div>
        </div>
      
        <div class="toggle-column">
          <label class="toggle-label">Rule Engine?</label>
          <app-cm-toggle [formGroup]="form" [settings]="Ruleenginetoggle" (returnObject)="ReturnValue($event)"></app-cm-toggle>
        <div *ngIf="f['ruleEngineEnabled'].touched && f['ruleEngineEnabled'].errors" class="text-danger mt-1">
        {{ getErrorMessage('ruleEngineEnabled', 'Rule Engine', false, '') }}
      </div>
        </div>
      </div> -->
      
  
      <!-- File Uploads -->
      <!-- <div class="file-upload">
        <label>
          Map Icon*
          <input type="file" (change)="onFileSelect($event, 'mapIcon')" />
    <div *ngIf="f['mapIcon'].touched && f['mapIcon'].errors" class="text-danger mt-1">
        {{ getErrorMessage('mapIcon', 'Map Icon', false, '') }}
      </div>
        </label>
  
        <label>
          Project Icon*
          <input type="file" (change)="onFileSelect($event, 'projectIcon')"  />
            <div *ngIf="f['projectIcon'].touched && f['projectIcon'].errors" class="text-danger mt-1">
        {{ getErrorMessage('projectIcon', 'Project Icon', false, '') }}
      </div>
        </label>
      </div> -->
  

       <div class="row">

  <div class="col-md-4" file-upload>
    <label class="form-label">Map Icon*</label>
    <input type="file" (change)="onFileSelect($event, 'mapIcon')" class="form-control" />
      <small class="text-muted d-block mt-1">Only JPEG or PNG images are allowed.</small>
    <img *ngIf="previewUrls['mapIcon']"
         [src]="previewUrls['mapIcon']"
         width="70" height="70"
         alt="Map Icon Preview"
         class="mt-2"
         style="border-radius: 4px;" />

    <div *ngIf="f['mapIcon']?.touched && f['mapIcon']?.errors" class="text-danger mt-1">
      {{ getErrorMessage('mapIcon', 'Map Icon', false, '') }}
    </div>
  </div>

  <div class="col-md-4" file-upload>
    <label class="form-label">Project Icon*</label>
    <input type="file" (change)="onFileSelect($event, 'projectIcon')" class="form-control" />

    <small class="text-muted d-block mt-1">Only JPEG or PNG images are allowed.</small>
    
    <img *ngIf="previewUrls['projectIcon']"
         [src]="previewUrls['projectIcon']"
         width="70" height="70"
         alt="Project Icon Preview"
         class="mt-2"
         style="border-radius: 4px;" />

    <div *ngIf="f['projectIcon']?.touched && f['projectIcon']?.errors" class="text-danger mt-1">
      {{ getErrorMessage('projectIcon', 'Project Icon', false, '') }}
    </div>
  </div>


            <div class="col-md-3">
                <label class="form-label m-0">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        </div>
  
     
        <!-- Action Buttons -->
        <div class="dialog-actions">
         
          <button mat-stroked-button (click)="close()">Cancel</button>
          <button mat-flat-button color="primary" (click)="submit()">Save</button>
        </div>
    </form>


     </div>

</div>

   
  