.card{border-radius: 16px;}
.card-body{ overflow: hidden; padding: 15px;}
.material-icons {font-size: 18px}
mat-label{font-size: 14px; font-weight: 400; margin-bottom: 4px; color:#000;}

 
 ::ng-deep .mat-mdc-text-field-wrapper  {
  --mdc-filled-text-field-container-color: #EDF2F6!important;
  --mat-sys-outline: #e4ebf0;
 border-radius: 8px!important;
border: 1px solid var(--mat-sys-outline);
background-color:#EDF2F6;

 }

 /* ::ng-deep .mat-mdc-select-arrow svg {
    fill: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

   .mat-mdc-outlined-button{
--mat-sys-primary:#1c2d7b;
border-color: var(--mat-sys-primary);
color: var(--mat-sys-primary);
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  --mat-sys-primary:#1c2d7b;
    color: white;
    background-color: var(--mat-sys-primary);
}
.clear-option{color: red!important;}
.action{
    display: inline-flex;
  height: 36px;
  padding: 4px 6px 4px 8px;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #E0E0E0;
  background:  #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }

  .fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  