<!-- <div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h5 style="margin-top: 10px;">Role Configuration</h5>
                    </mat-card-title>
                </div>
                <div class="col text-right">
                    <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                        <mat-icon>reply</mat-icon>
                    </button>

                </div>
            </mat-card-header>
        </div>
        <hr>
        <mat-card-content class="b-t-1 scroll"> -->


            <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center">
        <mat-card-title>
            <h5 class="mt-1 mb-0">Role Configuration</h5>
        </mat-card-title>

        <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()"
            style="margin-top: -10px; margin-bottom: -10px">
            <mat-icon>reply</mat-icon>
        </button>
    </div>

    <div class="card-body">

            <form [formGroup]="form" class="form-container">
                <div class="row">
                      <div class="col-md-4">
                         <app-cm-select2
              *ngIf="isProjectOptionsLoaded"
              [formGroup]="form"
              [controlName]="'roleType'"
              [settings]="projectSelectSettings"
              (optionSelected)="onProjectSelected($event)"
            >
            </app-cm-select2>
                    </div>
                    <div class="col-md-4">
                        <label>Role Name</label>
                        <app-cm-input [formGroup]="form" [controlName]="'roleName'" [_inputData]="inputFields.roleName">
                        </app-cm-input>
                        <div *ngIf="f['roleName'].touched && f['roleName'].errors" class="text-danger mt-1">
                        <div *ngIf="f['roleName'].errors['specialChars']">Special characters are not allowed.</div>
                        <div *ngIf="f['roleName'].errors['whitespace']">Whitespace not allowed at start/end.</div>
                        <div *ngIf="f['roleName'].errors['required']">Role Name is required.</div>
                        <div *ngIf="f['roleName'].errors['exists']">Role name already exists.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Display Name</label>
                        <app-cm-input [formGroup]="form" [controlName]="'roleDesc'" [_inputData]="inputFields.roleDesc">
                        </app-cm-input>
                        <!-- <div *ngIf="f['roleDesc'].touched && f['roleDesc'].errors" class="text-danger mt-1">
                            {{ getErrorMessage('roleDesc', 'Description', false, '') }}
                        </div> -->
                        <div *ngIf="f['roleDesc'].touched && f['roleDesc'].errors" class="text-danger mt-1">
                        <div *ngIf="f['roleDesc'].errors['specialChars']">Special characters are not allowed.</div>
                        <div *ngIf="f['roleDesc'].errors['whitespace']">Whitespace not allowed at start/end.</div>
                        <div *ngIf="f['roleDesc'].errors['required']">Description is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-md-4">
                        <label class="toggle-label margin-top:4px">IsStatic</label><br />
                        <app-cm-toggle [formGroup]="form" [settings]="isActiveSettings">
                        </app-cm-toggle>
                    </div>
                    <hr>
                </div>
                
                <div class="row">
                    <!-- disable Save when form invalid or while existence check in progress -->
                    <div class="dialog-actions">
                    <button mat-button (click)="close()">Cancel</button>
                    <button mat-flat-button color="primary" (click)="submit()" [disabled]="form.invalid || isCheckingRole">Save</button>
                    </div>
                </div>
            </form>


        <!-- </mat-card-content>
    </mat-card> -->
</div>
</div>