<div class="d-flex flex-column flex-column-fluid text-dark" id="kt_content">
<hr>
  <h4>Project Field Map</h4>

  <div class="container-fluid">

    <div class="row">

      <!-- Project and API Selection -->
      <div class="col-6" >
        <input type="text" id="apidatas" hidden />

        <div class="card card-custom gutter-b">
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-xl-4">
              
  <app-custom-select
  [formGroup]="form"
  controlName="selectedProject"
  label="Select Project"
  [options]="projectOptions"
  (selectionChange)="onProjectSelected($event)">
</app-custom-select>

              </div>

              <div class="col-xl-3">
                <!-- <label for="DrpDwnAPI">Select API</label> -->
            <app-custom-select
  [formGroup]="form"
  controlName="selectedApi"
  label="Select API"
  [options]="apiOptions"
  (selectionChange)="onApiSelected($event)">
</app-custom-select>
              </div>
            </div>

            <!-- API Details Section -->
            <div *ngIf="showApiDetails">
              <div class="col-md-12">
                <label id="api_name_label">API Name:</label>
                <div class="field-map-page">
                  <app-cm-input
        [formGroup]="form"
        [controlName]="'apiName'"
        [_inputData]="apiNameSetting">
      </app-cm-input>
                </div>
              </div>

              <div class="col-md-12">
                <label id="api_url_label">API URL:</label>
                <div class="field-map-page">
                  <app-cm-input
        [formGroup]="form"
        [controlName]="'apiURL'"
        [_inputData]="apiURLSetting">
      </app-cm-input>
                </div>
              </div>

              <div class="col-md-12">
                <label id="api_response_label">API Response:</label>
                <pre class="json-tree">
<app-json-tree
  [data]="apiJsonData"
  (nodeSelected)="onJsonPathSelected($event)">
</app-json-tree>
                </pre>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Project Field Map Table -->
      <div class="col-6" id="projectmasterdata" *ngIf="showApiDetails">
        <div class="card card-custom gutter-b">
          <div class="card-body">
            <div class="align-items-center" style="overflow-x:auto;">
      

<table id="ProjectFieldMapTable" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Field Name</th>
      <th>API Field</th>
      <th>Set</th>
      <th>Clear</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projectFieldMapData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <input type="text" class="form-control" [value]="item.label" disabled />
      </td>
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="item.apiField"
          placeholder="Enter API Field"
          required
          name="apiField{{ i }}"
        />
      </td>

      <!-- Hidden fields -->
      <td hidden>
        <input type="text" [value]="item.fieldType" disabled />
        <input type="hidden" [value]="item.id" />
        <input type="hidden" [value]="item.projectField" />
      </td>

      <!-- Action buttons -->
      <td>
        <!-- <button type="button" class="btn btn-dark" (click)="setApiField(i)">Set</button> -->
         <button type="button"
        class="btn"
        [ngClass]="{'btn-dark': selectedRowIndex !== i, 'btn-warning': selectedRowIndex === i}"
        (click)="setApiField(i)">
  Set
</button>
      </td>
      <td>
        <button type="button"
        class="btn"
        [ngClass]="{'btn-dark': selectedRowIndex !== i, 'btn-warning': selectedRowIndex === i}"
        (click)="clearApiField(i)">
  Clear
</button>
        <!-- <button type="button" class="btn btn-dark" (click)="clearApiField(i)">Clear</button> -->
      </td>
    </tr>
  </tbody>
</table>

            </div>

            <!-- <button id="Save" class="form-control btn btn-dark col-2"  >Save</button> -->
            <button id="Save" class="form-control btn btn-dark col-2" (click)="onSave()">Save</button>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>