.filter-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-end; 
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  app-cm-select2 {
    flex: 0 0 auto;
    width: 250px;
  }

  app-cm-input {
    flex: 0 0 auto;
    width: 250px;
  }
 .pageWrapper {
    padding: 30px;
}
.mat-mdc-card {
  --mat-sys-corner-medium:24px;
--mdc-elevated-card-container-shape: var(--mat-sys-corner-medium);
border-radius: var(--mdc-elevated-card-container-shape);

}


  
  .form-label {
    font-size: 24px !important;
}

  