mat-label{font-size: 14px; font-weight: 400; margin-bottom: 0px;}

 
 ::ng-deep .mat-mdc-text-field-wrapper  {
  --mdc-filled-text-field-container-color: #EDF2F6!important;
 border-radius: 8px!important;
border: 1px solid #E0E4EC;
background-color:#EDF2F6;
 }
.material-icons{color: rgba(0, 0, 0, 0.54)}
.mat-mdc-select.mat-mdc-select-focused .mat-mdc-select-arrow {
  color: rgba(0, 0, 0, 0.54) 
}