.btnCancel {
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: none;
    white-space: nowrap;  
}

.btnSubmit {
    background-color: green;
    color: white;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: none;
    white-space: nowrap; 
    
}

.bottom{
    padding-top: 20%;
}

 .btn-primary{background-color:var(--primary-color);
    color: var(--White);;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: none;
    text-transform: none;
    white-space: nowrap; border:none; }