  <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center">
  
        <mat-card-title><h5 class="mt-1 mb-0">Zone Configuration</h5></mat-card-title>
           
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()" style="margin-top: -10px; margin-bottom: -10px;">
  <mat-icon>reply</mat-icon>
</button>
 
 
    </div>
  
  <div class="card-body">
  
  <div class="card-body">
      

      <form [formGroup]="form" class="form-container">
              <div class="row">
           
            <div class="col-md-6">
              <label>Zone Name</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'zonename'"
                [_inputData]="inputFields.zonename"
                (blur)="onZoneNameChange()">
              </app-cm-input>

                  <div *ngIf="f['zonename'].touched && f['zonename'].errors" class="text-danger mt-1">
        {{ getErrorMessage('zonename', 'Zonename', false, '') }}
      </div>
     <div *ngIf="f['zonename'].hasError('duplicate')" class="text-danger mt-1">
  Zone name already exists.
</div>
            </div>
          
           
            <div class="col-md-6">
              <label>Description</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'description'"
                [_inputData]="inputFields.description">
              </app-cm-input>
      
            <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
            </div>
        </div>
       

        <div class="row">
            <div class="col-md-2">
                <label class="toggle-label">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        
          <div class="col-md-4">
          <div class="col-md-4">
            <button mat-flat-button
        style="
        background-color: rgb(114, 113, 113);
        color: white;
        font-weight: 100;
        padding: 7px 12px;      
        border-radius: 8px;
        font-size: 13px;         
        box-shadow: 0 2px 4px rgba(103, 98, 98, 0.3);
        text-transform: none;
        white-space: nowrap;
        display: flex ; gap:420px ;margin-top: 28px;   
        " (click)="Draw()">
        {{ state?.mode === 'edit' ? 'Edit Coordinates' : 'Draw Coordinates' }}

        </button>
        </div>
        
          </div>
        
          </div>


      


      


        <div class="row" >
    <app-cm-leaflet *ngIf="isMap" [showMap]="isMap"  (polygonDrawn)="onPolygonDrawn($event)"   [existingPolygon]="zoneCordinate" ></app-cm-leaflet>
</div>
     


      


       







     

        <!-- Action Buttons -->
        <div class="dialog-actions">
         
          <button mat-stroked-button (click)="close()">Cancel</button>
          <button mat-flat-button color="primary" (click)="submit()">Save</button>
        </div>




      </form>
    <!-- </div> -->
</div>
</div>