<div class="row mt-1">
    <div class="col-md-12">
<div class="card">
  <div class="card-header">
     <mat-card-title><h4 class="mt-1 mb-0">User-Zone Mapping</h4></mat-card-title>   
  </div>
    <div class="card-body"  id="editForm">
 

<!-- <div class="filter-row" style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 10px;"> -->
<div class="filter-row d-flex justify-content-between align-items-start">
  <!-- Left Filters -->
  <app-cm-select2
   *ngIf="isUserOptionsLoaded"
    [formGroup]="form"
    [controlName]="'selectedUser'"
    [settings]="UserSelectSettings"
    (optionSelected)="onProjectSelected($event)">
  </app-cm-select2>

  <app-cm-select2
   *ngIf="isZoneOptionsLoaded"
    [formGroup]="form"
    [controlName]="'selectedZone'"
    [settings]="ZoneSelectSettings"
    (optionSelected)="onProjectSelected($event)">
  </app-cm-select2>

    <app-cm-select2
   *ngIf="isRoleOptionsLoaded"
    [formGroup]="form"
    [controlName]="'selectedRole'"
    [settings]="RoleSelectSettings"
    (optionSelected)="onProjectSelected($event)">
  </app-cm-select2>

  <!-- <button mat-flat-button
         (click)="submit()"  class="btn btn-primary"
       >
        Submit
    </button> -->



  <!-- Right Side Container for Button + Search -->
  <div style="margin-left: auto; display: flex; flex-direction: column; align-items: flex-end; gap: 8px;">
    
      <!-- Create Button -->
     

    <!-- Search Input -->
 
  </div>
</div>



 <div class="dialog-actions">
           <button mat-stroked-button (click)="close()">Cancel</button>
          <button mat-flat-button color="primary" (click)="submit()">Save</button>
        </div>

</div>

 
</div>
</div> </div>