<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">User-Role-Zone Mapping</h2>
                    </mat-card-title>
                </div>
                <div class="col text-right">
                    <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                        <mat-icon>reply</mat-icon>
                    </button>

                </div>
            </mat-card-header>
        </div>
        <hr>
        <mat-card-content class="b-t-1 scroll">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-4">
                        <!-- <label>Select User</label>
                        <select #selectElement class="form-control" style="width: 100%;">
                            <option *ngFor="let option of yourOptions" [value]="option.id">{{ option.text }}</option>
                        </select> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Select User</mat-label>
                            <mat-select multiple>
                                <mat-option *ngFor="let option of yourOptions" [value]="option.id">
                                    {{ option.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <!-- <label>Select Zone</label>
                        <select multiple #selectElement class="form-control" style="width: 100%;" [attr.size]="5">
                            <option *ngFor="let option of yourOptions" [value]="option.id">{{ option.text }}</option>
                        </select> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Select Zone</mat-label>
                            <mat-select multiple>
                                <mat-option *ngFor="let option of yourOptions" [value]="option.id">
                                    {{ option.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <!-- <label>Select Role</label>
                        <select multiple #selectElement class="form-select" style="width: 100%;" [attr.size]="5">
                            <option *ngFor="let option of yourOptions" [value]="option.id">{{ option.text }}</option>
                        </select> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Select Role</mat-label>
                            <mat-select multiple>
                                <mat-option *ngFor="let option of yourOptions" [value]="option.id">
                                    {{ option.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button mat-stroked-button (click)="close()">Cancel</button>&nbsp;&nbsp;&nbsp;
                        <button mat-flat-button color="primary" (click)="submit()">Save</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>