mat-label{font-size: 14px; font-weight: 400; margin-bottom: 4px; color:#000;}

 
 ::ng-deep .mat-mdc-text-field-wrapper  {
  --mdc-filled-text-field-container-color: #EDF2F6!important;
  --mat-sys-outline: #e4ebf0;
 border-radius: 8px!important;
border: 1px solid var(--mat-sys-outline);
background-color:#EDF2F6;

 }

 /* ::ng-deep .mat-mdc-select-arrow svg {
    fill: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

   .mat-mdc-outlined-button{
--mat-sys-primary:#1c2d7b;
border-color: var(--mat-sys-primary);
color: var(--mat-sys-primary);
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  --mat-sys-primary:#1c2d7b;
    color: white;
    background-color: var(--mat-sys-primary);
}
.clear-option{color: red!important;}