
          <mat-card-content class="p-0"> <form [formGroup]="form">
                 
                <div  id="editForm">

                               
                                    <h4>API Management </h4>
                            
                           <hr>

                  
                   
                        <div class="row">
                            <div class="col-md-6">
                                <app-cm-select2 *ngIf="!isApiLoaded" [formGroup]="form" [controlName]="'apiId'"
                                    [settings]="apiSettings" (optionSelected)="onManagerSelected($event)">
                                </app-cm-select2>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-1">Request Type</label>
                                <app-cm-input [formGroup]="form" [controlName]="'requestType'"
                                    [_inputData]="requestTypeSettings">
                                </app-cm-input>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-2 mt-2">
                            <div class="col-md-10">
                                <app-cm-textarea [formGroup]="form" [controlName]="'requestBody'"
                                    [_inputData]="inputFields.requestBodySettings">
                                </app-cm-textarea>
                            </div>
                          <div class="col-md-2">
                                <button mat-flat-button class="btn-primary mt-3" (click)="SubmitAction()">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <app-cm-textarea [formGroup]="form" [controlName]="'responseBody'"
                                    [_inputData]="inputFields.responseBodySettings">
                                </app-cm-textarea>
                            </div>
                        </div>
                    
                </div>
            </form></mat-card-content>
    
    