
<div class="card">


       <div class="card-header d-flex align-items-center">
               <mat-icon>list</mat-icon>
                <div class="ms-2">
                    <h6 class="mb-0">Sensor List</h6>
                   
                </div>
                <div class="ms-auto text-center d-flex align-items-center">
                     <button mat-icon-button matTooltip="Go Back" aria-label="Back" (click)="goBack()" style="margin-top: -10px; margin-bottom: -10px;">
  <mat-icon>reply</mat-icon>
</button>
                    
                </div>
            </div>

    <div class="card-body table-sticky p-0">


         <mat-table [dataSource]="dataSource" >
   
    <ng-container matColumnDef="name" [sticky]="true">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
       <div class="d-flex align-items-center py-0 ">
                <span class="rounded-circle p-2 bg-warning text-white d-flex align-items-center justify-content-center border border2 border-secondary-50" style="width: 42px;"><mat-icon>air</mat-icon></span>
                <div class="ms-2">
                    <h6 class="mb-0">{{ element.name }}</h6>
            <small>Jan 2026, 18:55 </small> 
                </div>
               
            </div> 
        </mat-cell>
      <mat-footer-cell *matFooterCellDef> Name Footer </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="AQI">
      <mat-header-cell *matHeaderCellDef> AQI </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="p-1 bg-danger rounded-circle me-2"></span> {{element.AQI}} </mat-cell>
    
    </ng-container>

    <ng-container matColumnDef="Temperature">
      <mat-header-cell *matHeaderCellDef> Temperature <div> <small> (DegC) </small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Temperature}}  </mat-cell>
      
    </ng-container>

    <ng-container matColumnDef="Humidity">
      <mat-header-cell *matHeaderCellDef> Humidity <div><small> (%)</small></div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Humidity}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="PM25">
      <mat-header-cell *matHeaderCellDef> PM2.5 <div><small> (µg/m3)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="p-1 bg-warning rounded-circle me-2"></span> {{element.PM25}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="PM10">
      <mat-header-cell *matHeaderCellDef> PM10  <div><small>(µg/m3)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.PM25}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="NO2">
      <mat-header-cell *matHeaderCellDef> NO2 <div><small>(ppb)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NO2}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="SO2">
      <mat-header-cell *matHeaderCellDef> SO2  <div><small>(ppb)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SO2}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="O3">
      <mat-header-cell *matHeaderCellDef> O3 <div><small>(ppb)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.O3}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="CO">
      <mat-header-cell *matHeaderCellDef> CO <div><small>(ppm)</small></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CO}} </mat-cell>
      
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>


    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>
  
</div>

<div class="card-footer p-0">
      <mat-paginator 
         #paginator
         [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10,20, 50, 100]"
        
      ></mat-paginator>
</div>
</div>

