<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">API PLAYGROUND</h2>
                    </mat-card-title>
                </div>
            </mat-card-header>
        </div>
        <hr>
        <mat-card-content class="b-t-1 scroll">

            <!-- <div class="dialog-container"> -->


            <form [formGroup]="form" class="form-container">
                <div class="row">
                    <div class="col-md-3" style="margin-top: -10px;">
                        <label style="position: relative; top: 6px; display: block;">Enter Name</label>
                        <div>
                            <app-cm-input [formGroup]="form" [controlName]="'apiName'"
                                [_inputData]="inputFields.apiName">
                            </app-cm-input>
                        </div>
                    </div>
                    <div class="col-md-7" style="margin-top: -10px;">
                        <label style="position: relative; top: 6px; display: block;">Enter URL</label>
                        <div>
                            <app-cm-input [formGroup]="form" [controlName]="'apiUrl'" [_inputData]="inputFields.apiUrl">
                            </app-cm-input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <app-cm-select2 [formGroup]="form" [controlName]="'apiType'" [settings]="apiTypeSettings"
                            (optionSelected)="onProjectSelected($event)">
                        </app-cm-select2>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-12">

                        <mat-tab-group>
                            <mat-tab label="Params">
                                <hr>
                                <ng-container>
                                    <div class="query-container">
                                        <button mat-flat-button color="accent" class="add-query"
                                            (click)="createQueryStrings()">Add
                                            New Query</button>
                                        <div *ngIf="form.get('queryStrings')">
                                            <div class="row">
                                                <div formArrayName="queryStrings" class="query-table">
                                                    <div class="row text-center mt-3">
                                                        <label class="col-md-1">
                                                            Sr No.
                                                        </label>
                                                        <label class="col-md-5">
                                                            Key
                                                        </label>
                                                        <label class="col-md-5">
                                                            Value
                                                        </label>

                                                        <label class="col-md-1">
                                                            Action
                                                        </label>
                                                    </div>
                                                    <div *ngFor="let group of queryStringsFormArray.controls; let i = index"
                                                        [formGroup]="group" class="row mb-2">
                                                        <div class="col-md-1 text-center">
                                                            <app-cm-input [formGroup]="group" [controlName]="'qsNo'"
                                                                [_inputData]="inputFields.apiUrl">
                                                            </app-cm-input>
                                                        </div>
                                                        <div class="col-md-5 text-center">
                                                            <app-cm-input [formGroup]="group" [controlName]="'qsKey'"
                                                                [_inputData]="inputFields.qsKey">
                                                            </app-cm-input>
                                                        </div>
                                                        <div class="col-md-5 text-center">
                                                            <app-cm-input [formGroup]="group" [controlName]="'qsValue'"
                                                                [_inputData]="inputFields.qsValue">
                                                            </app-cm-input>
                                                        </div>
                                                        <div class="col-md-1 text-center">
                                                            <button mat-stroked-button
                                                                (click)="RemoveQS(i)">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </mat-tab>
                            <mat-tab label="Body">
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <app-cm-radio [_inputData]="radioInputData" [formGroup]="form"
                                            [controlName]="'bodyType'"></app-cm-radio>
                                    </div>
                                    <div formArrayName="body" *ngIf="form.get('body')">
                                        <div *ngFor="let group of bodyFormArray.controls; let i = index"
                                            [formGroup]="group" class="row mb-2">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if(form.controls['bodyType'].value == "JSON"){
                                                    <app-cm-textarea [formGroup]="group" [controlName]="'bodyValue'"
                                                        [_inputData]="inputFields.bodyJson">
                                                    </app-cm-textarea>
                                                    }
                                                    @else if (form.controls['bodyType'].value == "Form") {
                                                    <app-cm-textarea [formGroup]="group" [controlName]="'bodyValue'"
                                                        [_inputData]="inputFields.bodyForm">
                                                    </app-cm-textarea>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </mat-tab>

                            <mat-tab label="Auth">
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <app-cm-radio [_inputData]="radioAuthInputData" [formGroup]="form"
                                            [controlName]="'authType'"></app-cm-radio>
                                    </div>
                                    <div formArrayName="auth" *ngIf="form.get('auth')">
                                        <div *ngFor="let group of authFormArray.controls; let i = index"
                                            [formGroup]="group" class="row mb-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if(form.controls['authType'].value == "Bearer"){
                                                    <app-cm-input [formGroup]="group" [controlName]="'authValue'"
                                                        [_inputData]="inputFields.bearerToken">
                                                    </app-cm-input>
                                                    }
                                                    @else if (form.controls['authType'].value == "Basic") {
                                                    <div class="row padStyle">
                                                        <div class="col-md-4">
                                                            <app-cm-input [formGroup]="group"
                                                                [controlName]="'authValue'"
                                                                [_inputData]="inputFields.basicAuthUsername">
                                                            </app-cm-input>
                                                        </div>
                                                    </div>
                                                    <div class="row padStyle">
                                                        <div class="col-md-4">
                                                            <app-cm-input [formGroup]="group"
                                                                [controlName]="'authValue'"
                                                                [_inputData]="inputFields.basicAuthPassword">
                                                            </app-cm-input>
                                                        </div>
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="Headers">
                                <hr>
                                <ng-container>
                                    <div class="query-container">
                                        <button mat-flat-button color="accent" class="add-query"
                                            (click)="createHeader()">Add Header</button>
                                        <div *ngIf="form.get('headers')">
                                            <div class="row">
                                                <div formArrayName="headers" class="query-table">
                                                    <div class="row text-center mt-3">
                                                        <label class="col-md-5">
                                                            Key
                                                        </label>
                                                        <label class="col-md-5">
                                                            Value
                                                        </label>

                                                        <label class="col-md-2">
                                                            Action
                                                        </label>
                                                    </div>
                                                    <div *ngFor="let group of headersFormArray.controls; let i = index"
                                                        [formGroup]="group" class="row mb-2">
                                                        <div class="col-md-5 text-center">
                                                            <app-cm-input [formGroup]="group"
                                                                [controlName]="'headerKey'"
                                                                [_inputData]="inputFields.qsKey">
                                                            </app-cm-input>
                                                        </div>
                                                        <div class="col-md-5 text-center">
                                                            <app-cm-input [formGroup]="group"
                                                                [controlName]="'headerValue'"
                                                                [_inputData]="inputFields.qsValue">
                                                            </app-cm-input>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <button mat-stroked-button
                                                                (click)="RemoveHeader(i)">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
<hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button mat-flat-button  color="primary" (click)="submit()">Submit</button>

                        <button mat-flat-button  color="warn" class="ms-4"  (click)="close()">Cancel</button>
                    </div>
                </div>
            </form>
            <!-- </div> -->
        </mat-card-content>
    </mat-card>
</div>