<!-- <div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">Rule Engine</h2>
                    </mat-card-title>
                </div>
            </mat-card-header>
        </div>
        <hr>
        <div class="row">
            <mat-card-content>
                <div class="card">

                    <mat-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Rule Details</ng-template>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2>Rule Details</h2>
                                    </div>
                                </div>
                                
                                <div class="row" style="padding-top: 30px;">
                                    <div class="col-md-4">
                                        <app-cm-input [formGroup]="firstFormGroup" [controlName]="'policyName'"
                                            [_inputData]="inputFields.policyName">
                                        </app-cm-input>
                                    </div>
                                    <div class="col-md-4">
                                        <app-cm-select2 [formGroup]="firstFormGroup"
                                            [controlName]="'selectedCategory'" [settings]="categorySettings">
                                        </app-cm-select2>
                                    </div>
                                    <div class="col-md-4">
                                        <app-cm-select2 [formGroup]="firstFormGroup"
                                            [controlName]="'selectedUserGroup'" [settings]="userGroupSettings">
                                        </app-cm-select2>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="toggle-label">Active</label>
                                        <app-cm-toggle [formGroup]="firstFormGroup" [settings]="isActiveToggle"></app-cm-toggle>
                                    </div>
                                    <div class="col-md-4">
                                        <app-cm-input [formGroup]="firstFormGroup" [controlName]="'intervalTime'"
                                            [_inputData]="inputFields.intervalTime">
                                        </app-cm-input>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" label="Rule Design">
                            <form [formGroup]="secondFormGroup">
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="secondCtrl"
                                        placeholder="Ex. 1 Main St, New York, NY" required>
                                </mat-form-field>
                                <div>
                                    <button matButton matStepperPrevious>Back</button>
                                    <button matButton matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="thirdFormGroup" label="Rule Schedule">
                            <form [formGroup]="secondFormGroup">
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="secondCtrl"
                                        placeholder="Ex. 1 Main St, New York, NY" required>
                                </mat-form-field>
                                <div>
                                    <button matButton matStepperPrevious>Back</button>
                                    <button matButton matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                            <div>
                                <button mat-flat-button color="secondary" matStepperPrevious>Back</button>
                                <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                    </mat-stepper>
                </div>
            </mat-card-content>
        </div>
        <hr>
    </mat-card>
</div> -->
<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">Rule Engine</h2>
                    </mat-card-title>
                </div>
            </mat-card-header>
        </div>
        <hr>
        <div class="row">
            <mat-card-content>

                <div class="container">
                    <!-- Stepper Sidebar -->
                    <div class="sidebar">
                        <h2>Step {{ currentStep + 1 }}</h2>
                        <p class="subtitle">Enter your personal information to get closer to companies.</p>
                        <div class="steps">
                            <div *ngFor="let step of steps; let i = index" class="step">
                                <div class="circle" [class.active]="i === currentStep">{{ i + 1 }}</div>
                                <div class="label" [class.active]="i === currentStep">{{ step }}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Step Content -->
                    <div class="content">
                        <div *ngIf="currentStep === 0">
                            <h3>Rule Information</h3>

                            <hr>
                            <div [formGroup]="firstFormGroup">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">Policy
                                                Name*</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup" [controlName]="'policyName'"
                                                    [_inputData]="inputFields.policyName">
                                                </app-cm-input>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <app-cm-select2 [formGroup]="firstFormGroup"
                                                [controlName]="'selectedCategory'" [settings]="categorySelectSettings">
                                            </app-cm-select2>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <app-cm-select2 [formGroup]="firstFormGroup"
                                                [controlName]="'selectedUserGroup'" [settings]="userGroupSettings">
                                            </app-cm-select2>
                                        </div>
                                        <div class="col-md-6">
                                            <label style="position: relative; top: 6px; display: block;">Interval
                                                (Minutes)</label>
                                            <div>
                                                <app-cm-input [formGroup]="firstFormGroup"
                                                    [controlName]="'intervalTime'"
                                                    [_inputData]="inputFields.intervalTime">
                                                </app-cm-input>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="toggle-label">Enabled</label>
                                            <app-cm-toggle [formGroup]="firstFormGroup" [settings]="isActiveToggle"
                                                style="margin-top: -35px;"></app-cm-toggle>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div *ngIf="currentStep === 1">
                            <h3>Rule Design</h3>
                            <hr>
                            <div [formGroup]="secondFormGroup">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <app-cm-select2 [formGroup]="secondFormGroup"
                                                [controlName]="'selectedProject'"
                                                [settings]="projectSettings"></app-cm-select2>
                                        </div>
                                        <div class="col-md-1 text-left" style="padding-top : 30px">
                                            <app-cm-button color="primary" type="stroked" class="m-r-8" return="submit"
                                                (click)="createGroup()">Add</app-cm-button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div *ngIf="groupsFormArray.length > 0">
                                        <div class="row" *ngFor="let arr of groupsFormArray.controls; let i = index"
                                            [formGroup]="arr">
                                            <div class="row">
                                                <div class="col">
                                                    <h4>VMS</h4>
                                                </div>
                                                <div class="col text-right">

                                                    <span class="material-icons" (click)="removeGroup(i)">
                                                        close
                                                    </span>
                                                </div>
                                            </div>
                                            <div *ngIf="getExpressionGroup(i).value.length > 0">
                                                <div class="grey-box">
                                                    <div class="row">
                                                        <div class="col text-right">
                                                            <app-cm-button color="primary" type="stroked" class="rmBtn"
                                                                return="remove"
                                                                (click)="addFormArrayGroup(i)">Add</app-cm-button>
                                                            <app-cm-button color="primary" type="stroked" class="rmBtn"
                                                                return="remove">Remove</app-cm-button>
                                                        </div>
                                                    </div>
                                                    <div class="row rmBtn">
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="arr"
                                                                [controlName]="'condition'"
                                                                [settings]="conditionSelectSettings">
                                                            </app-cm-select2>
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                        *ngFor="let group of getExpressionGroup(i).controls; let j = index"
                                                        [formGroup]="group">
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="group"
                                                                [controlName]="'fieldName'"
                                                                [settings]="fieldSettings"></app-cm-select2>
                                                        </div>
                                                        <div class="col">
                                                            <app-cm-select2 [formGroup]="group"
                                                                [controlName]="'expression'"
                                                                [settings]="expressionSettings"></app-cm-select2>
                                                        </div>
                                                        <div class="col">
                                                            <label
                                                                style="position: relative; top: 6px; display: block;">Field
                                                                Value*</label>
                                                            <div>
                                                                <app-cm-input [formGroup]="group"
                                                                    [controlName]="'fieldValue'"
                                                                    [_inputData]="inputFields.fieldValue">
                                                                </app-cm-input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div *ngIf="currentStep === 2">
                            <h3>Rule Schedule</h3>
                            <p class="info-text">Add your work experience here...</p>
                            <hr>
                            <div [formGroup]="thirdFormGroup">
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'minute'"
                                            [settings]="minuteSettings"></app-cm-select-check>
                                    </div>
                                    <div class="col-md-6">
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'hour'"
                                            [settings]="hourSettings"></app-cm-select-check>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfMonth'"
                                            [settings]="dayMonthSettings"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'month'"
                                            [settings]="monthSettings"></app-cm-select-check>
                                    </div>

                                    <div class="col-md-4">
                                        <app-cm-select-check [formGroup]="thirdFormGroup" [controlName]="'dayOfWeek'"
                                            [settings]="dayWeekSettings"></app-cm-select-check>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 text-left" *ngIf="currentStep != 0 ">
                                <button (click)="goBack()">Previous</button>
                            </div>
                            <div class="col-md-6 text-right">
                                @if(currentStep == 2){
                                <button (click)="goNext()">Submit</button>
                                }
                                @else {
                                <button (click)="goNext()">Next</button>
                                }
                            </div>

                        </div>


                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>