<!-- <div class="canvas">
  <div *ngFor="let widget of widgets"
       class="widget"
       cdkDrag
       [cdkDragFreeDragPosition]="widget.position"
       (cdkDragEnded)="onDragEnd($event, widget)"
       mwlResizable
       (resizeEnd)="onResizeEnd($event, widget)"
       [style.width.px]="widget.width"
       [style.height.px]="widget.height"
       mwlResizeHandle [resizeEdges]="{bottom: true, right: true}">
       
    <ng-container [ngSwitch]="widget.type">
      <div *ngSwitchCase="'status'" class="status-box resize-handle-bottom">
        {{widget.title}}<br><strong>{{widget.value}}</strong>
      </div>
    </ng-container>

  </div>
</div> -->

<div class="row">
  <div class="col-md-12" *ngFor="let chart of chartOptions">
    <div
    cdkDrag
    mwlResizable
    [style.width.px]="width"
    [style.height.px]="height"
    (resizeEnd)="onResizeEnd($event)"
    style="border: 1px solid #ccc; padding: 10px; background: #fff;"
  >
  
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chart"
      [style.width.px]="width - 20"
      [style.height.px]="height - 40"
      style="display: block;"
    ></highcharts-chart>
  </div>
  </div>
</div>

