<div class="pageWrapper">
  <mat-card class="cardWithShadow theme-card">
    <div class="row">
      <mat-card-header>
        <div class="col-md-11" style="padding-left: 40px;">
          <mat-card-title>
            <h2 style="margin-top: 10px;">Custom Dashboard</h2>
          </mat-card-title>
        </div>
      </mat-card-header>
    </div>
    <hr>
    <div class="row">
      <mat-card-content>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <app-cm-select2 [formGroup]="group" [controlName]="'type'" [settings]="typeSettings"
                (optionSelected)="onProjectSelected($event)">
              </app-cm-select2>
            </div>
            <div class="col-md-4">
              <app-cm-select2 [formGroup]="group" [controlName]="'chartType'" [settings]="chartTypeSettings"
                (optionSelected)="onProjectSelected($event)">
              </app-cm-select2>
            </div>
            <div class="col-md-4">
              <app-cm-select2 [formGroup]="group" [controlName]="'type'" [settings]="typeSettings"
                (optionSelected)="onProjectSelected($event)">
              </app-cm-select2>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>