<mat-card-content class="p-0">
    <form [formGroup]="form">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <app-cm-textarea [formGroup]="form" [controlName]="'remarks'" [_inputData]="inputFields.remarks">
                    </app-cm-textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                   <label class="me-2">
  Attachment <small>(pdf, docx, XLSX, JPG, PNG, max-5MB)</small>
</label>
                       <input type="file" (change)="onFileChange($event)">
                </div>

                <div class="col-md-6 text-right d-flex align-items-center">
                    <mat-checkbox class="example-margin me-2" formControlName="isVerified"
                        color="primary"></mat-checkbox>Mark
                    as
                    Complete
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col d-flex gap-2">
                    <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                        Submit
                    </button>

                    <button mat-stroked-button (click)="CancelAction()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</mat-card-content>