<div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center">
  
        <mat-card-title><h5 class="mt-1 mb-0">Project Field Configuration</h5></mat-card-title>
           
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()" style="margin-top: -10px; margin-bottom: -10px;">
  <mat-icon>reply</mat-icon>
</button>
 
    </div>
  
  <div class="card-body">
    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-6">
                <label >Project Name</label>

                <div >
                  <app-cm-select2
                   *ngIf="isProjectOptionsLoaded"
                    [formGroup]="form"
                    [controlName]="'selectedProject'"
                    [settings]="projectSelectSettings"
                    (optionSelected)="onProjectSelected($event)"
                    class="full-width-select">
                  </app-cm-select2>
                          <div *ngIf="f['selectedProject'].touched && f['selectedProject'].errors" class="text-danger mt-1">
        {{ getErrorMessage('selectedProject', 'Project Name', false, '') }}
      </div>
              </div>
            </div>


          <div class="col-md-6">
            <label>Description</label>
            <app-cm-input
              [formGroup]="form"
              [controlName]="'description'"
              [_inputData]="inputFields.description">
            </app-cm-input>
                    <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
          </div>


        </div>


        <div class="row">
          
            <div class="col-md-3">
              <label>Map Label</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'maplabel'"
                [_inputData]="inputFields.maplabel">
              </app-cm-input>
                      <div *ngIf="f['maplabel'].touched && f['maplabel'].errors" class="text-danger mt-1">
        {{ getErrorMessage('maplabel', 'Map Label', false, '') }}
      </div>
            </div>
          
           

   <div class="col-md-3 d-flex align-items-center justify-content-center">
    <div style="width: 100%; text-align: center;">
      <label class="form-label m-0">Is Same As</label><br />
      <app-cm-toggle
        [formGroup]="form"
        [settings]="isSameas">
      </app-cm-toggle>
    </div>
  </div>

            <div class="col-md-3">
                <label>Api Label</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'apilabel'"
                  [_inputData]="inputFields.apilabel">
                </app-cm-input>
                        <div *ngIf="f['apilabel'].touched && f['apilabel'].errors" class="text-danger mt-1">
        {{ getErrorMessage('apilabel', 'Api Label', false, '') }}
      </div>
              </div>
        
            <div class="col-md-3">
                <label class="form-label m-0">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="projectEnabled" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        </div>
        
         <!-- Action Buttons -->
         <div class="dialog-actions">
            <button mat-stroked-button (click)="close()">Cancel</button>
            <button mat-flat-button color="primary" (click)="submit()">Save</button>
          </div>
   
      
    </form>
</div>
</div>
