

<div class="dialog-container">
    <div class="dialog-header">
        <h2>Project Field Configuration</h2>
        <button mat-icon-button (click)="close()" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
   

    <hr class="input-header-hr" /> 

    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-6" style="margin-top: -10px;">
                <label style="position: relative; top: 6px; display: block;">Project Name</label>

                <div >
                  <app-cm-select2
                   *ngIf="isProjectOptionsLoaded"
                    [formGroup]="form"
                    [controlName]="'selectedProject'"
                    [settings]="projectSelectSettings"
                    (optionSelected)="onProjectSelected($event)"
                    class="full-width-select">
                  </app-cm-select2>
                          <div *ngIf="f['selectedProject'].touched && f['selectedProject'].errors" class="text-danger mt-1">
        {{ getErrorMessage('selectedProject', 'Project Name', false, '') }}
      </div>
              </div>
            </div>


          <div class="col-md-6">
            <label>Description</label>
            <app-cm-input
              [formGroup]="form"
              [controlName]="'description'"
              [_inputData]="inputFields.description">
            </app-cm-input>
                    <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
          </div>


        </div>


        <div class="row">
          
            <div class="col-md-4">
              <label>Map Label</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'maplabel'"
                [_inputData]="inputFields.maplabel">
              </app-cm-input>
                      <div *ngIf="f['maplabel'].touched && f['maplabel'].errors" class="text-danger mt-1">
        {{ getErrorMessage('maplabel', 'Map Label', false, '') }}
      </div>
            </div>
          
           

   <div class="col-md-4 d-flex align-items-center justify-content-center">
    <div style="width: 100%; text-align: center;">
      <label class="toggle-label margin-top:4px">Is Same As</label><br />
      <app-cm-toggle 
        [formGroup]="form"
        [settings]="isSameas">
      </app-cm-toggle>
              <div *ngIf="f['isSameas'].touched && f['isSameas'].errors" class="text-danger mt-1">
  {{ getErrorMessage('isSameas', 'isSameas', false, '') }}
</div>
    </div>
  </div>

            <div class="col-md-4">
                <label>Api Label</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'apilabel'"
                  [_inputData]="inputFields.apilabel">
                </app-cm-input>
                        <div *ngIf="f['apilabel'].touched && f['apilabel'].errors" class="text-danger mt-1">
        {{ getErrorMessage('apilabel', 'Api Label', false, '') }}
      </div>
              </div>
        </div>
       


        


     

        <div class="row">
            <div class="col-md-6">
                <label class="toggle-label">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="projectEnabled" style="margin-top: -35px;"></app-cm-toggle>
               <div *ngIf="f['isActive'].touched && f['isActive'].errors" class="text-danger mt-1">
  {{ getErrorMessage('isActive', 'isActive', false, '') }}
</div>
            </div>
        </div>
        
         <!-- Action Buttons -->
         <div class="dialog-actions">
            <button mat-button (click)="close()">Cancel</button>
            <button mat-flat-button color="primary" (click)="submit()">Save</button>
          </div>
        
           
          
      
    </form>
</div>