<div class="sidebar  mat-elevation-z2" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <!-- <a href="#" class="sidebar-logo">{{
      isSidebarCollapsed ? 'C' : 'CodeWithChintan'
    }}</a> -->
    <a class="sidebar-logo" (click)="onClick($event)"><img src="assets/img/logo_small.png" alt=""></a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-menu-item">
          <button mat-button type="button" class="sidebar-item"
            [ngClass]="{ 'has-children': item.children, 'menu-item-active': item.isOpen }"
            (click)="toggleMenuItem(item)">
            <img [src]="item.icon" style="max-width: 20px; max-height: 20px;" class="mr-1">
            <span class="sidebar-item-text">{{ item.label }}</span>
            <span *ngIf="item.children && !isSidebarCollapsed" class="material-icons sidebar-item-arrow"
              [ngClass]="{ rotated: item.isOpen }">expand_more</span>
          </button>
          <div class="submenu" [ngClass]="{'expanded' : item.isOpen}" *ngIf="item.children && item.isOpen">
            <a routerLinkActive="active-link" [routerLink]="child.link"
              [routerLinkActiveOptions]="{exact:true}"
              class="submenu-link"
              *ngFor="let child of item.children">
              <img [src]="child.icon || 'assets/img/LineArrow.svg'" alt="" class="submenu-icon">
              <span class="submenu-text">{{child.label}}</span>
            </a>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>