<div class="sidebar  mat-elevation-z2" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <!-- <a href="#" class="sidebar-logo">{{
      isSidebarCollapsed ? 'C' : 'CodeWithChintan'
    }}</a> -->
    <a class="sidebar-logo" (click)="onClick($event)"><img src="assets/img/logo_small.png" alt=""></a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-menu-item">
          <button mat-button type="button" class="sidebar-item justify-content-left" style="width: 90%; padding-left:15px; justify-content: left;" [class.active-link]="isItemActive(item)"
            [ngClass]="{ 'has-children': item.children, 'menu-item-active': item.isOpen }"
            (click)="toggleMenuItem(item)">
            <img [src]="item.icon" style="max-width: 20px; max-height: 20px;" class="mr-1">
            <span class="sidebar-item-text">{{ item.label }}</span>
            <span *ngIf="item.children && !isSidebarCollapsed" class="material-icons sidebar-item-arrow order-last ms-auto"
              [ngClass]="{ rotated: item.isOpen }">expand_more</span>
          </button>
        <div class="submenu"
       [hidden]="!item.isOpen"
       [ngClass]="{ expanded: item.isOpen }">

    <a *ngFor="let child of item.children"
       [routerLink]="child.link"
       class="submenu-link"
       [class.active-link]="isChildActive(child)">

      <img [src]="child.icon || child.activeIcon" class="submenu-icon">
      <span class="submenu-text">{{ child.label }}</span>
    </a>

  </div>
           
         
        </li>
      </ng-container>
    </ul>
  
  <hr/>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu p-0 ms-2">
        <img src="assets/img/user.png" alt="" class="rounded-5"> <span class="online rounded-5" *ngIf="online"></span>
      </button>
      <mat-menu #menu="matMenu" class="sidM">
         <button mat-menu-item (click)="profileRedirect()">
          <mat-icon>person</mat-icon>
          <span>User Profile</span>
        </button>
     <button mat-menu-item (click)="logout()" class="logoutMenu">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        <button mat-menu-item (click)="onToggleEdit()" *ngIf="hideCustomisation">
          <mat-icon>design_services</mat-icon>
          <span>Customize Dashboard</span>
        </button>

      </mat-menu>
    <div class="me-3 text-end" *ngIf="userInfo">
        <div class="fw-bold">{{ userInfo.name || userInfo.userName }}</div>
        <small class="text-muted">{{ userInfo.emailAddress }}</small>
      </div>
  </div>
</div>