.sidebar {
/* box-shadow: 7px 4px 16px 2px rgba(0, 0, 0, 0.18); */
  background-color: var(--primary-color);
  color: #ecf0f1;
  height: 100vh;
  /* width: 120px; */
    width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
}
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}
.sidebar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.sidebar-menu {
  padding: 1rem 0;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu-item {
  position: relative;
}
.sidebar-item {
  display: flex;
  align-items: left;

  transition: all 0.2s ease;
  cursor: pointer;
  flex-direction: column;
}
.submenu a{
 color: #A8C5DA;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400; 
  text-decoration: none;
  display: block;
  margin-bottom: 3px;
  padding:2px 4px 2px 8px;
  line-height: 12px;
}
.submenu-link{display:flex;align-items:center;padding:2px 4px 2px 8px}
.submenu-icon{width:14px;height:14px;margin-right:8px;object-fit:contain;filter:invert(84%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(102%) contrast(101%);color: white;}
.submenu-text{font-size:10px;color:#A8C5DA}
.submenu a:hover{
  background-color: rgba(255, 255, 255, 0.1);  
  border-radius: 15px 0 0 15px;
}
/* .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */
/* .sidebar-item.menu-item-active {
  background-color: rgba(255, 255, 255, 0.2);
} */

/* .sidebar-item.active-link{
  background-color: white;
} */
.sidebar-item:hover:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px 0 0 15px;
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: -1;
  top: -2px;
  right: 0;
}
.sidebar-item.active-link:before {
  content: '';
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px 0 0 15px;
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: -1;
  top: -2px;
  right: 0;
}
.sidebar-item.active-link .sidebar-item-text{
  color: var(--primary-color);
  font-weight: 600;
}
/* .sidebar-item:hover img{
  filter: brightness(0) saturate(100%) invert(15%) sepia(39%) saturate(4090%) hue-rotate(216deg) brightness(93%) contrast(92%);} */
.sidebar-item i {
  margin-right: 0.75rem;
}
.sidebar-item i.sidebar-item-arrow {
  margin-left: auto;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}
.sidebar-item i.sidebar-item-arrow.rotated {
  transform: rotate(180deg);
}
.sidebar-item-text {
  color: #A8C5DA;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  transition: opacity 0.3s ease-in-out;
  margin-left: 8px;
}
.sidebar-item.has-children {
  position: relative;
}
.sidebar-submenu {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-submenu .sidebar-item {
  padding-left: 3rem;
  font-size: 0.9rem;
}
.sidebar-collapsed {
  width: 0px;
}
.sidebar-collapsed .sidebar-menu-item {
  position: static;
}
.sidebar-collapsed .sidebar-item i {
  margin-right: 0;
}
.sidebar-collapsed .sidebar-item-text, .sidebar-collapsed .sidebar-item-arrow {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.submenu {
  display: none;
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 10px;
  font-size: 12px;
    line-height: 15px;
}
.submenu.expanded {
  transform: scaleY(1);
    display: block;
}
.mdc-list-item{margin-bottom:10px}
.mdc-list-item__primary-text {
  --mdc-list-list-item-label-text-color:white!important;
    color: var(--mdc-list-list-item-label-text-color);
    text-overflow:none!important;
    white-space: wrap!important;
    overflow: visible!important;
}
.mat-mdc-button .mdc-button__label,.mat-button .mdc-button__label{display: flex!important;}
