<form [formGroup]="form" style="padding: 10px;" class="card p-0">
    <div class="card-header">
        
            <h5> Emergency Publish</h5>
       
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-md-12">
            
            <app-cm-select-check ngSkipHydration 
            *ngIf="isTypeSelected || vmdTypeSettings.options != undefined" 
            [formGroup]="form"
                [controlName]="'selectedVmdAction'" [settings]="vmdTypeSettings"
                (returnObject)="onVMSSelected($event)" color="primary" class="mt-0">
            </app-cm-select-check>
        </div>
    
    
   
        <div class="col-md-12 align-items-center d-flex mt-2">
           <div  class="w-100"> <label class="w-100">
            Attach File <small> (Image / Video / Audio – max 5 MB) </small>
           
        </label>
            <input type="file" (change)="onFileSelected($event)" class="mt-1 form-control" accept="image/*,video/*,audio/*">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6" *ngIf="isTypeSelected">
            <app-cm-select2 ngSkipHydration *ngIf="isTypeSelected" [formGroup]="form" [controlName]="'selectedUnit'"
                [settings]="unitSettings" (returnObject)="onUnitSelected($event)">
            </app-cm-select2>
        </div>
    
        <div class="col-md-6" *ngIf="isTypeSelected">
            <label class="mb-0 w-100">Unit Value</label>
            <app-cm-input ngSkipHydration [formGroup]="form" [controlName]="'unitValue'"
                [_inputData]="inputFields.unitValue">
            </app-cm-input>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex gap-2">
            <button mat-flat-button class="btn-primary ms-auto" (click)="SubmitAction()">
                Submit
            </button>
           
            <button mat-stroked-button (click)="CancelAction()">
                Cancel
            </button>
        </div>
    </div>
    </div>
</form>
