.text-right{text-align: right;}
.clientlogo{ height: 62px;
    border: 1px solid #ccc;}
.CMSlogo{ margin-left: 16px;}

:host(.shift120) footer {margin-left: 170px!important;}
:host {
  display: block;
}


:host(.content) {
  margin-left: 0;
}
@media only screen and (max-width: 600px) {
.clientlogo{height: 42px;}
.CMSlogo{width: 60px;}
.copyright{font-size: 8px;}

}