
        <mat-card-content class="p-0">
            <form [formGroup]="form">
                @if(this.task.sequence == 0) {
                <div class="row">
                    <div class="col-md-6">
                        <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                            Assign to Site Engineer
                        </button>
                    </div>
                </div>
                }

                @if(this.task.sequence == 1) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <div class="row">
                        <div class="col-md-12">
                            <app-cm-textarea [formGroup]="form" [controlName]="'remarks'"
                                [_inputData]="inputFields.remarks">
                            </app-cm-textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center gap-2">
                            <label class="mb-0">Attachment</label>
                            <input type="file">
                        </div>
                   
                        <div class="col-md-6 d-flex align-items-center gap-2">
                            <mat-checkbox class="example-margin" formControlName="isVerified"> </mat-checkbox> Mark as
                                closed
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 d-flex gap-2">
                            <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                                Submit
                            </button>
                           
                            <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                }

                @if(this.task.sequence == 2) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <app-api-action></app-api-action>
                     <hr>
                    <div class="row">
                        <div class="col-md-12 d-flex gap-2">
                            <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                                Close
                            </button>
                           
                            <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                }
            </form>
        </mat-card-content>
