<form [formGroup]="form">
    <div class="row">
        <div class="col-md-6">
            <app-cm-select-check ngSkipHydration *ngIf="isVmdSelected" [formGroup]="form"
                [controlName]="'selectedVmdAction'" [settings]="vmdTypeSettings"
                (returnObject)="onActionTypeSelected($event)">
            </app-cm-select-check>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center gap-2">
            <label class="mb-0">Attachment(Image or Video)</label>
            <input type="file">
        </div>
    
        <div class="col-md-5" *ngIf="isTypeSelected">
            <app-cm-select2 ngSkipHydration *ngIf="isTypeSelected" [formGroup]="form" [controlName]="'selectedUnit'"
                [settings]="unitSettings" (returnObject)="onActionTypeSelected($event)">
            </app-cm-select2>
        </div>
    
        <div class="col-md-5">
            <app-cm-input ngSkipHydration [formGroup]="form" [controlName]="'unitValue'"
                [_inputData]="inputFields.unitValue">
            </app-cm-input>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex gap-2">
            <button mat-flat-button class="btn-primary ms-auto" (click)="SubmitAction()">
                Submit
            </button>
           
            <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                Cancel
            </button>
        </div>
    </div>
</form>