<header class="container-fluid" *ngIf="headerService.showLogo">
  <div class="row d-flex justify-content-between align-item-center">
    <div class="col-6">

      <img src="assets/img/logo2.svg" alt="" class="logo2 mb-2" (click)="onClick($event)" *ngIf="headerService.showLogo">
    </div>
    <div class="col-6 text-right justify-content-end align-content-end d-flex">



       <!-- <div class="me-3 text-end" *ngIf="userInfo">
        <div class="fw-bold">{{ userInfo.name || userInfo.userName }}</div>
        <small class="text-muted">{{ userInfo.emailAddress }}</small>
      </div> -->



       <!-- <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Placeholder"> </mat-form-field> -->
      <button mat-icon-button (click)="changeTheme()" *ngIf="theaming">

        <mat-icon outline>{{mode}}</mat-icon>

      </button>


      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu p-0">
        <img src="assets/img/user.png" alt="" class="rounded-5"> <span class="online rounded-5" *ngIf="online"></span>
      </button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="profileRedirect()">
          <mat-icon>person</mat-icon>
          <span>User Profile</span>
        </button>
     <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        <button mat-menu-item (click)="onToggleEdit()" *ngIf="hideCustomisation">
          <mat-icon>design_services</mat-icon>
          <span>Customize Dashboard</span>
        </button>

      </mat-menu> -->
    </div>
  </div>

</header>