<div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center">
  
        <mat-card-title><h5 class="mt-1 mb-0">SOP Configuration</h5></mat-card-title>
           
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()" style="margin-top: -10px; margin-bottom: -10px;">
  <mat-icon>reply</mat-icon>
</button>
 
    </div>
  
  <div class="card-body">

    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-5">
                <label>Policy Name</label>
                    <app-cm-select2 
                    *ngIf="isPolicyOptionLoaded"
                    [formGroup]="form"
                    [controlName]="'name'"
                    [settings]="PolicySettings"
                    (optionSelected)="onProjectSelected($event)">
                    </app-cm-select2>
                                <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
        {{ getErrorMessage('name', 'Policy Name', false, '') }}
      </div>
              
                <!-- <mat-error *ngIf="form.get('name')?.hasError('whitespace')">
  Name cannot be empty or just spaces.
</mat-error> -->
  <!-- <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
    {{ getErrorMessage('name', 'Name', true, 'Special characters are not allowed') }}
  </div> -->
            </div>
             <div class="col-md-5">
                <label>SOP Name</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'sopname'"
                  [_inputData]="inputFields.sopname">
                </app-cm-input>
                
                   <div *ngIf="f['sopname'].touched && f['sopname'].errors" class="text-danger mt-1">
        {{ getErrorMessage('sopname', 'Sop Name', false, '') }}
      </div>
            </div>
            <div class="col-md-2">
              <label class="toggle-label">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        </div>



<!-- Dynamic Table -->
<div class="mt-4 card">
  <div class="card-body">
  <h6 class="mt-0">Actions</h6>
  <hr class="mt-0">
  <table class="table table-bordered align-middle">
    <thead>
      <tr class="text-muted small">
<th style="width:10%;">SR NO.</th>
<th style="width:40%;">ACTIONNAME</th>
<th style="width:10%;">SEQUENCE</th>
<th style="width:10%;" class="text-center">ACTION</th>
      </tr>
    </thead>
    <tbody formArrayName="actions">
      <tr *ngFor="let action of actions.controls; let i = index" [formGroupName]="i">
        <!-- Serial Number -->
        <td>{{ i + 1 }}</td>

        <!-- ActionName Dropdown -->
      <td>


    <app-cm-select2
        *ngIf="isActionOptionLoaded"
      [formGroup]="action"
      [controlName]="'actionName'"
      [settings]="ActionSettings"
      (optionSelected)="onProjectSelected($event)" class="d-block">
    </app-cm-select2>

                <!-- <div *ngIf="f['actionName'].touched && f['actionName'].errors" class="text-danger mt-1">
        {{ getErrorMessage('actionName', 'Action Name', false, '') }}
      </div> -->
  
</td>

        <!-- Sequence Input -->
        <td >
          <app-cm-input
            [formGroup]="action"
            [controlName]="'sequence'"
            [_inputData]="inputFields.sequence">
          </app-cm-input>
        </td>

        <!-- Action Buttons -->
        <td class="text-center">
          <button mat-icon-button color="primary" (click)="addActionRow()">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeActionRow(i)" *ngIf="actions.length > 1">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div></div>

         <!-- Toggles -->
             <!-- <div class="row">
            <div class="col-md-6">
                <label class="toggle-label">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        </div>
   -->
     
        <!-- Action Buttons -->
  
        <div class="dialog-actions">
         
          <button mat-stroked-button (click)="close()">Cancel</button>
          <button mat-flat-button color="primary" (click)="submit()">Save</button>
        </div>
    </form>

</div>
</div>
   
  