
<div class="pageWrapper">
<mat-card class="cardWithShadow theme-card">
    <div class="row">
  <mat-card-header>
      <div class="col-md-11" style="padding-left: 40px;">
        <mat-card-title><h2 style="margin-top: 10px;">Contact Configuration</h2></mat-card-title>
      </div>
      <div class="col text-right">
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
  <mat-icon>reply</mat-icon>
</button>
      </div>
  </mat-card-header>
    </div>
  <hr>
  <mat-card-content class="b-t-1 scroll">
    <form [formGroup]="form" class="form-container">
        <div class="row">
            <div class="col-md-6">
                     <label>Select Type</label>
              <app-cm-select2
  *ngIf="isContactLoaded"
  [formGroup]="form"
  [controlName]="'ContactType'"
  [settings]="ContactTypeSettings"
  (optionSelected)="onContactTypeSelected($event)">
</app-cm-select2>
  <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
    {{ getErrorMessage('ContactType', 'ContactType', true, 'Special characters are not allowed') }}
  </div>
            </div>
             <div class="col-md-6">
                  <label>Name</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'name'"
                  [_inputData]="inputFields.name">
                </app-cm-input>
                
                   <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
        {{ getErrorMessage('name', 'name', false, '') }}
      </div>
            </div>
        </div>
       <div class="row">

  <div class="col-md-6" file-upload>
    <label>Contact</label>
                <app-cm-input
                  [formGroup]="form"
                  [controlName]="'contact'"
                  [_inputData]="inputFields.contact">
                </app-cm-input>

    <div *ngIf="f['contact']?.touched && f['contact']?.errors" class="text-danger mt-1">
      {{ getErrorMessage('contact', 'contact', false, '') }}
    </div>
  </div>

  <div class="col-md-6" file-upload>
         <!-- Toggles -->
         <!-- <div class="toggle-row">
              <app-cm-toggle
  [formGroup]="form"
  [controlName]="'isActive'"
  [settings]="isactivetoggle">
</app-cm-toggle> -->
 <label>Status</label>
<!-- <app-cm-toggle
  [settings]="isactivetoggle"
  [formGroup]="form"
  [controlName]="'isactivetoggle'">
</app-cm-toggle> -->
<app-cm-toggle
  [settings]="isactivetoggle"
  [formGroup]="form"
  [controlName]="'isActive'">
</app-cm-toggle>
              <div *ngIf="f['isActive'].touched && f['isActive'].errors" class="text-danger mt-1">
        {{ getErrorMessage('isActive', 'isActive', false, '') }}
      </div>
          </div>
  </div>





       
     
        <!-- Action Buttons -->
        <div class="dialog-actions">
         
          <button mat-stroked-button (click)="close()">Cancel</button>
          <button mat-flat-button color="primary" (click)="submit()">Save</button>
        </div>
    </form>


     </mat-card-content>
</mat-card>
</div>


   
  