<div class="dialog-header">
    <div class="row dialog-title">
        <div class="col-md-6 text-left">
            <span class="dialog-title">Alert Log - <span style="color:yellow;">{{data.policyName}} </span></span>
        </div>
        <div class="col-md-6 text-right">
            <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">

        <mat-card-content>
            <table class="table table-bordered">
                <thead class="bg-info-subtle table-secondary fw-bold border-bottom">
                    <tr>
                        <td class="text-center">Sr No</td>
                        <td>Action</td>
                        <td class="col-md-2">Performed By</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>Ticket Acknowledge Completed</td>
                        <td> Anup Jadhav</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Assigned to site engineer of North Zone</td>
                        <td> Anup Jadhav</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Ticket resolved and evidence submitted</td>
                        <td> Sujit Gaikwad</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Verified and Closed</td>
                        <td>Anup Jadhav</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>

    </mat-card>
</div>