<div class="dialog-header">
    <div class="row dialog-title">
        <div class="col-md-9 text-left">
            <span class="dialog-title">Alert Log - <span style="color:yellow;">{{data.policyName}} </span></span>
        </div>
        <div class="col-md-3 text-right">
            <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="pageWrapper">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <table class="table table-bordered" id="AlertHistory">
        <thead class="bg-info-subtle table-secondary fw-bold border-bottom">
          <tr>
            <td class="text-center">Sr No</td>
            <td>Action</td>
            <td class="col-md-2">Performed By</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading">
            <td colspan="3" class="text-center">Loading...</td>
          </tr>
          <tr *ngIf="!isLoading && (!alertHistory || alertHistory.length === 0)">
            <td colspan="3" class="text-center">No history found.</td>
          </tr>
          <tr *ngFor="let row of alertHistory; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{row.actionName|| row.alertLogRemarks   ||row.operation|| '-' }}</td>
            <td>{{ row.userName || row.performedBy || row.creatorName || row.creatorUserId || '-' }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
