<div class="dialog-header">
    <div class="row dialog-title">
        <div class="col-md-6 text-left">
            <span class="dialog-title">Alert Log</span>
        </div>
        <div class="col-md-6 text-right">
            <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="pageWrapper">
    <mat-card class="cardWithShadow theme-card">
        <div class="row">
            <mat-card-header>
                <div class="col-md-11" style="padding-left: 40px;">
                    <mat-card-title>
                        <h2 style="margin-top: 10px;">{{data.policyName}}</h2>
                    </mat-card-title>
                </div>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-3">
                        Sr No
                    </div>
                    <div class="col-md-6">
                        Action
                    </div>
                    <div class="col-md-3">
                        Performed By
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        1
                    </div>
                    <div class="col-md-6">
                        Ticket Acknowledge Completed
                    </div>
                    <div class="col-md-3">
                        Anup Jadhav
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        2
                    </div>
                    <div class="col-md-6">
                        Assigned to site engineer of North Zone
                    </div>
                    <div class="col-md-3">
                        Anup Jadhav
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        3
                    </div>
                    <div class="col-md-6">
                        Ticket resolved and evidence submitted
                    </div>
                    <div class="col-md-3">
                        Sujit Gaikwad
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        4
                    </div>
                    <div class="col-md-6">
                        Verified and Closed by
                    </div>
                    <div class="col-md-3">
                        Anup Jadhav
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>