

<div class="pageWrapper">
<mat-card class="cardWithShadow theme-card">
    <div class="row">
  <mat-card-header>
      <div class="col-md-11" style="padding-left: 40px;">
        <mat-card-title><h2 style="margin-top: 10px;">Map Configuration</h2></mat-card-title>
      </div>
      <div class="col text-right">
       <button mat-icon-button matTooltip="Back to List" aria-label="Back" (click)="close()">
  <mat-icon>reply</mat-icon>
</button>
        
      </div>
  </mat-card-header>
    </div>
  <hr>
  <mat-card-content class="b-t-1 scroll">

    <form [formGroup]="form" class="form-container">
       
          
        <div class="row">
           
            <div class="col-md-6">
              <label>Name</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'name'"
                [_inputData]="inputFields.name">
              </app-cm-input>
                <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger mt-1">
        {{ getErrorMessage('name', 'Name', false, '') }}
      </div>
            </div>
          
           
            <div class="col-md-6">
              <label>Display Name</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'displayname'"
                [_inputData]="inputFields.displayname">
              </app-cm-input>
                    <div *ngIf="f['displayname'].touched && f['displayname'].errors" class="text-danger mt-1">
        {{ getErrorMessage('displayname', 'Display Name', false, '') }}
      </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-md-12">
              <label>SourceURL</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'sourceurl'"
                [_inputData]="inputFields.sourceurl">
              </app-cm-input>
            <div *ngIf="f['sourceurl'].touched && f['sourceurl'].errors" class="text-danger mt-1">
        {{ getErrorMessage('sourceurl', 'Source Url', false, '') }}
      </div>
        <div *ngIf="f['sourceurl'].touched && f['sourceurl'].errors" class="text-danger mt-1">
    {{ getErrorMessage('sourceurl', 'Source Url', true, 'Enter a valid URL without spaces') }}
  </div>
            </div>
          
        </div>

        <div class="row">
           
            <div class="col-md-6">
              <label>MinZoom</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'minzoom'"
                [_inputData]="inputFields.minzoom">
              </app-cm-input>
                                           <div *ngIf="f['minzoom'].touched && f['minzoom'].errors" class="text-danger mt-1">
        {{ getErrorMessage('minzoom', 'Min Zoom', false, '') }}
      </div>
            </div>
          
           
            <div class="col-md-6">
              <label>MaxZoom</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'maxzoom'"
                [_inputData]="inputFields.maxzoom">
              </app-cm-input>
               <div *ngIf="f['maxzoom'].touched && f['maxzoom'].errors" class="text-danger mt-1">
        {{ getErrorMessage('maxzoom', 'Max Zoom', false, '') }}
      </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-md-6">
              <label>Lat</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'lat'"
                [_inputData]="inputFields.lat">
              </app-cm-input>
                <div *ngIf="f['lat'].touched && f['lat'].errors" class="text-danger mt-1">
        {{ getErrorMessage('lat', 'Latitude', false, '') }}
      </div>
            </div>
          
           
            <div class="col-md-6">
              <label>Long</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'long'"
                [_inputData]="inputFields.long">
              </app-cm-input>
                 <div *ngIf="f['long'].touched && f['long'].errors" class="text-danger mt-1">
        {{ getErrorMessage('long', 'Longitude', false, '') }}
      </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-md-6">
              <label>WmsLayer</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'wmslayer'"
                [_inputData]="inputFields.wmslayer">
              </app-cm-input>
                   <div *ngIf="f['wmslayer'].touched && f['wmslayer'].errors" class="text-danger mt-1">
        {{ getErrorMessage('wmslayer', 'WmsLayer', false, '') }}
      </div>
            </div>
          
           
            <div class="col-md-6">
              <label>Description</label>
              <app-cm-input
                [formGroup]="form"
                [controlName]="'description'"
                [_inputData]="inputFields.description">
              </app-cm-input>
                     <div *ngIf="f['description'].touched && f['description'].errors" class="text-danger mt-1">
        {{ getErrorMessage('description', 'Description', false, '') }}
      </div>
            </div>
        </div>
      

        <div class="row">
            <div class="col-md-6">
                <label class="toggle-label">Enabled</label>
                <app-cm-toggle [formGroup]="form" [settings]="toggleSettingsWithoutHeader" style="margin-top: -35px;"></app-cm-toggle>
            </div>
        </div>
        
         <!-- Action Buttons -->
         <div class="dialog-actions">
            <button mat-button (click)="close()">Cancel</button>
            <button mat-flat-button color="primary" (click)="submit()">Save</button>
          </div>
        
           
          
      
    </form>
     </mat-card-content>
</mat-card>
</div>