<div class="row">
    <div class="col-md-3">
        <div class="card mt-1">
            <div class="card-body">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput placeholder="Placeholder"> 
                    <mat-icon matSuffix>filter_list</mat-icon>
                </mat-form-field> 

          <mat-accordion>
  <mat-accordion>
  <mat-expansion-panel *ngFor="let location of locations">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ location.locationName }}</mat-panel-title>
    </mat-expansion-panel-header>

    <ul class="list-unstyled ps-3">
      <li
        *ngFor="let site of location.sites"
        class="py-1 site-name"
        (click)="onSiteClick(site.siteId)"
        style="cursor: pointer;"
      >
        {{ site.siteName }}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>


</mat-accordion>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="=col-md-12  videoPlayer" *ngIf="activeEmbedUrl">
<iframe
  *ngIf="activeEmbedUrl"
  [src]="activeEmbedUrl"
  width="100%"
  height="360"
  frameborder="0"
  allowfullscreen
  style="background-color: black;"
></iframe>


    </div>
           <div *ngFor="let cam of camera" class="col-md-6 mt-1 mb-1">
                <div class="card" [ngClass]="{ fullscreen: cam.expanded }">
                <div class="card-body">  
                <div class="title d-flex align-items-start justify-content-between mb-1">
                    <span>
                        {{cam.name}}
                    </span>
                    <span class="actions">
                        <a class="me-1"><img src="assets/img/Share-Link.png"/></a>
                        <a class="me-1" (click)="toggleExpand(cam)"> <img src="assets/img/Minimize-2.png"></a>
                        <a><img src="assets/img/Delete-Circle.png"></a>
                    </span>
                </div>
                <div>
                    <!-- <img [src]="cam.img" alt="" class="img-fluid w-100"> -->
<img [src]="cam.img" alt="" class="img-fluid w-100" (click)="onSiteClick(cam.siteId)">

                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
  


</div>
<div *ngIf="loading" class="loader-overlay">
  <div class="spinner"></div>
</div>