.filter-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-end; 
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  app-cm-select2 {
    flex: 0 0 auto;
    width: 250px;
  }

  app-cm-input {
    flex: 0 0 auto;
    width: 250px;
  }
 
::ng-deep .wrap-text {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 200px; /* Optional, limits how wide the cell can go */
}

  
  .form-label {
    font-size: 24px !important;
}

  .btn-primary{background-color:var(--primary-color);
    color: var(--White);;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: none;
    text-transform: none;
    white-space: nowrap; border:none; }