Fix Leaflet default marker icon path
.leaflet-container {
  height: 100%;
  width: 100%;
}
/* Use ::ng-deep to override Leaflet's internal styles */
::ng-deep .leaflet-tooltip.custom-tooltip {
  background-color: #2c3e50; /* Dark professional background */
  border: 1px solid #34495e;
  text-transform: capitalize;
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 0; /* Let the inline HTML handle padding */
}

/* Style the little arrow at the bottom of the tooltip */
::ng-deep .leaflet-tooltip-top.custom-tooltip:before {
  border-top-color: #2c3e50;
}


