:host{
    display: block;
    border-radius: 16px;
}
.wHeader{
    display: flex;
    cursor: move;
}
.card{border-radius: 16px;}
.card-body{ overflow: hidden; padding: 15px;}
.header{display: flex; justify-content: space-between; align-items: center; }

.actionClose{position: absolute; z-index: 9; right:20px; top:10px; width: 20px; height: 20px;}
.actionShare{position: absolute; z-index: 9;right:50px; bottom:10px; width: 20px; height: 20px;}
.actionMaximize{position: absolute; z-index: 9;right:20px; bottom:10px; width: 20px; height: 20px;}
.actionClose img,.actionShare img,.actionMaximize img{
    filter: invert(100%) brightness(200%) contrast(100%); width:16px}

