<div class="dialog-header" [ngClass]="data.type">
  <span class="dialog-title">{{ data.title || 'Confirm' }}</span>
  <span class="dialog-icon">
   <mat-icon 
  *ngIf="data.type === 'delete'" 
  (click)="onCancel()" 
  class="clickable-icon"
>
  close
</mat-icon>
    <mat-icon *ngIf="data.type === 'warning'">warning</mat-icon>
    <mat-icon *ngIf="data.type === 'info'">info</mat-icon>
    <mat-icon *ngIf="data.type === 'alert'">error_outline</mat-icon>
  </span>
</div>

<div class="dialog-content">
  <p [innerHTML]="data.message"></p>
</div>

<div class="dialog-actions">
  <button mat-button (click)="onCancel()">{{ data.cancelButtonText || 'Cancel' }}</button>
  <button mat-raised-button class="confirm-button" (click)="onConfirm()">
    {{ data.confirmButtonText || 'Confirm' }}
  </button>
</div>
