/* ========== Dialog Container ========== */
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #1a2a6c; /* Default navy */
}

.dialog-header.delete {
  background-color: #1a2a6c; /* You can override per type if needed */
}

.dialog-header.warning {
  background-color: #f57c00;
}

.dialog-header.info {
  background-color: #1976d2;
}

.dialog-header.alert {
  background-color: #d32f2f;
}

.dialog-title {
  flex-grow: 1;
}

.dialog-icon mat-icon {
  font-size: 20px;
  cursor: pointer;
}

/* ========== Dialog Content ========== */
.dialog-content {
  padding: 20px 24px;
  text-align: center;
  font-size: 16px;
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

/* ========== Dialog Actions ========== */
.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0px 16px 16px 16px;
}

/* ========== Buttons ========== */
.dialog-actions button {
  padding: 0px 0px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  min-width: 100px;
  transition: background-color 0.3s ease;
}

/* Cancel Button (mat-button) */
.dialog-actions button[mat-button] {
  background-color: #c4c4c4;
  color: white;
}

.dialog-actions button[mat-button]:hover {
  background-color: #a9a9a9;
}

/* Confirm Button (mat-raised-button) */
.confirm-button {
  background-color: #b1123f;
  color: white;
}

.confirm-button:hover {
  background-color: #1a2a6c;
  color :white
}
