<div class="row mt-1">
    <div class="col-md-12">
<div class="card">
  <div class="card-header">
     <mat-card-title><h4 class="mt-1 mb-0">User Heirarchy</h4></mat-card-title>   
  </div>
    <div class="card-body"  id="editForm">
           <div class="filter-row d-flex justify-content-start align-items-center gap-2 mb-2">
  
                    <app-cm-select2 *ngIf="isUserLoaded" [formGroup]="form" [controlName]="'userName'"
                        [settings]="userTypeSettings" (optionSelected)="onUserTypeSelected($event)">
                    </app-cm-select2>
               
                    <app-cm-select2   *ngIf="isUserLoaded"[formGroup]="form" [controlName]="'manager'" [settings]="managerSettings"
                        (optionSelected)="onManagerSelected($event)">
                    </app-cm-select2>
               
                    <button mat-flat-button class="btn-primary mt-4" (click)="onSubmit()">
                        Submit
                    </button>
                </div>
                <app-cm-table [headArr]="headArr" [gridArr]="items" [pagination]="true" [totalRecords]="totalRecords"
                    [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize"
                    (pager)="onPageChange($event)" (recordPerPage)="onPageRecordsChange($event)"
                    (searchWithId)="onRowClicked($event)" (btnAction)="onButtonClicked($event)">
                </app-cm-table>
            </div>
        </div>
    </div>
</div>