<div [formGroup]="formGroup" *ngIf="formGroup">
    {{value}}

    <!-- Show mat-label + hr ABOVE input only if labelHeader is NOT 'Search' -->
    <ng-container *ngIf="_inputData.labelHeader && _inputData.labelHeader !== 'Search'">
      <mat-label  [class]="_inputData.labelClass"
      style="padding-top: 10px;" > {{ _inputData.labelHeader }}</mat-label>
     

    </ng-container>
    <mat-form-field [hideRequiredMarker]="true"  [class]="_inputData.formFieldClass" [appearance]="'outline'">
  
      <!-- Show floating mat-label inside input ONLY if labelHeader === 'Search' -->
      <mat-label *ngIf="_inputData.labelHeader === 'Search'">
        {{ _inputData.labelHeader }}
      </mat-label>
    
      <input matInput [placeholder]="_inputData.placeholder" [disabled]="_inputData.isDisabled" [value]="value"
      [formControlName]="controlName" [type]="type" />
    
    </mat-form-field>
  </div>