
                <mat-card-content class="p-0">
            <form [formGroup]="form">
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h2>VMS Device Failure</h2>
                    </div>
                </div>
                <hr> -->
                @if(this.task.sequence == 0) {
                <div class="row">
                    <div class="col-md-6">
                        <button mat-flat-button class="btnSubmit" (click)="SubmitAction()">
                            Assign to Site Engineer
                        </button>
                    </div>
                </div>
                }
                @if(this.task.sequence == 1) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <div class="row">
                        <div class="col-md-12">
                            <app-cm-select-check *ngIf="isVmdSelected" [formGroup]="form"
                                [controlName]="'selectedVmdAction'" [settings]="vmdTypeSettings"
                                (returnObject)="onActionTypeSelected($event)" color="primary">
                            </app-cm-select-check>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="mb-1 me-2">Attachment(Image or Video)</label>
                            <input type="file">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <app-cm-select2 *ngIf="isTypeSelected" [formGroup]="form" [controlName]="'selectedUnit'"
                                [settings]="unitSettings" (returnObject)="onActionTypeSelected($event)">
                            </app-cm-select2>
                        </div>
                        <div class="col-md-6">
                            <label class="mb-1">Unit Value</label>
                            <app-cm-input [formGroup]="form" [controlName]="'unitValue'"
                                [_inputData]="inputFields.unitValue">
                            </app-cm-input>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col d-flex gap-2">
                            <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                                Submit
                            </button>
                           
                            <button mat-stroked-button (click)="CancelAction()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                }
                @if(this.task.sequence == 2) {
                <div [ngClass]="{ 'readonly-div': !this.task.hasAccess}">
                    <div class="row">
                        <label class="mb-1">Verification</label>
                        <hr >
                        <div class="col-md-6">
                            <button mat-flat-button class="btnSubmit" (click)="ViewOnMap(this.task)">
                                Get API Status
                            </button>
                        </div>
                        <div class="col-md-6 text-right d-flex align-items-center">
                            <mat-checkbox class="example-margin" formControlName="isVerified" color="primary"></mat-checkbox> <label class="mb-0 ms-2">Mark As Closed</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 d-flex gap-3">
                            <button mat-flat-button class="btn-primary" (click)="SubmitAction()">
                                Close
                            </button>
                           
                            <button mat-flat-button class="btnCancel" (click)="CancelAction()">
                                Reassign
                            </button>
                        </div>
                    </div>
                </div>
                }
            </form>
        </mat-card-content>
