<mat-card class="p-0 shadow-none">
  <mat-card-content class="p-0">
    <!-- <mat-card-title>{{ _headerName }}</mat-card-title>
    <hr /> -->
    <div class="table-responsive" *ngIf="headArr">
      <!-- {{activePage}} -->
      <table class="w-100 table table-bordered table-striped" id="datatableexample">
        <thead class="bg-blue">
          <tr>
            <th width="80">Sr No.</th>
            <th class="f-w-600 f-s-14" *ngFor="let col of headArr">{{ col.header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gridArr; let sr = index" (click)="ShowForm(item)" class="text-center">
            <td class="td-css">
              @if(activePage == 0 ) {
              {{ sr + 1 }}
              }
              @else {
              {{ ((activePage * perPage)) + sr }}
              }
            </td>

            <td *ngFor="let head of headArr" [ngClass]="{
  'wrap-text': head.fieldValue === 'sourceURL' || head.fieldValue === 'wmsLayer'
}" class="td-css">

              @if (head.fieldValue === 'check')
              {
              <div *ngFor="let chk of item.check" class="d-inline-block me-2">
                <mat-checkbox [(ngModel)]="chk.checked"color="primary">{{ chk.label }}</mat-checkbox>
              </div>
              }
              @else if(head.fieldValue === 'button') {
              <span *ngFor="let btn of item.button" class="me-2">
                <button mat-icon-button  [color]="getButtonColor(btn) || btn.color" (click)="GoToBtnAction(btn, item)" [matTooltip]="btn.label" [disabled]="btn.disabled">
                  <mat-icon fontSet="material-icons-outlined" [color]="btn.color">{{ btn.icon || 'add' }}</mat-icon>
                </button>
              </span>
              }
              @else if(head.fieldValue === 'image') {
<img [src]="item[head.fieldValue]"/>
              }
              @else if(head.type === 'boolean') {
              <badge
                [ngClass]="item[head.fieldValue] ? 'bg-success text-white rounded px-2 py-1' : 'bg-secondary text-white rounded px-2 py-1'" disabled>
                {{ item[head.fieldValue] ? 'Enable' : 'Disable' }}
              </badge>
              }
              @else if(head.fieldValue==='buttonlist') {
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let btn of item.buttonlist" (click)="GoToBtnAction(btn, item)" [disabled]="btn.disabled">
                  <mat-icon fontSet="material-icons-outlined">{{btn.icon}}</mat-icon>
                  <span>{{btn.label}}</span>
                </button>
              </mat-menu>
              }
              @else {
              {{ item[head.fieldValue] }}
              }
            </td>

            <!-- <td *ngIf="item.type === 'control'">
              <div *ngFor="let cntr of item.control" class="d-inline-block me-2">
                <mat-checkbox *ngIf="cntr.type === 'check'" class="example-margin">
                  {{ cntr.header }}
                </mat-checkbox>
              </div>
            </td>

            <td *ngIf="item.type !== 'control'">
              {{ item.FieldName }}
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12" *ngIf="pagination || pagination == undefined">
          <app-cm-pagination [totalRecords]="totalRecords" [recordsPerPage]="perPage" [collectionSize]="collectionSize"
            [totalPages]="totalPages" (pageno)="onPageChange($event)" (perPage)="onPageRecordsChange($event)">
          </app-cm-pagination>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>