.table-dark th {
    color: black !important; 
  }
table td {
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px;
  }
  table th{
    text-align: center;
    vertical-align: middle;
    padding: 8px 5px;
    white-space: nowrap;
    text-transform: capitalize;
  }
  table td:last-child {width: 140px;}
  .table-dark {
    
    color: white !important;
  }
  mat-label{font-size: 16px; font-weight: 500; margin-bottom: 15px; color:#4C535F}

 
 ::ng-deep .mat-mdc-text-field-wrapper  {
  --mdc-filled-text-field-container-color: #EDF2F6!important;
 border-radius: 8px!important;
border: 1px solid #E0E4EC;
background-color:#EDF2F6;
 }

 ::ng-deep .mat-paginator .mat-form-field, .mat-mdc-paginator-page-size-select {
  appearance: none; 
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 8px 0 0 !important;
  border: none !important;
}

::ng-deep .mat-paginator .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-paginator .mat-form-field-underline,
::ng-deep .mat-paginator .mat-form-field-outline {
  display: none !important;
}

::ng-deep .mat-paginator .mat-select-trigger {
  border: none !important;
  box-shadow: none !important;
  padding: 4px 8px;
  background-color: transparent !important;
}

.td-css{
  border-spacing: 0cap;
}

.table thead {
  --bs-table-bg:transparent;
  --bs-table-color:#fff;
}
.bg-blue{
  background-color: var(--primary-color);
  color:#fff;
}