/* 🔹 Scroll container around CmTableComponent */
.vms-table-scroll {
  max-height: 450px;        /* Adjust height as per your dashboard */
  overflow-y: auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* 🔹 Make table headers sticky */
.vms-table-scroll table thead th {
  position: sticky !important;
  top: 0;
  background: #f9f9f9 !important;
  z-index: 2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

/* Optional: nicer scrollbar styling */
.vms-table-scroll::-webkit-scrollbar {
  width: 8px;
}
.vms-table-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.vms-table-scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.btnEmergencyPublish
{
  width: 8% !important;
  border-radius: 50% 0 0 50%;
    position: fixed;
    right: -10px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translateY(-50%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
	    background: linear-gradient(305deg, #FFD600 -13.87%, #FF007A 104.8%) !important;
    color: white;
}