<div class="card p-0">
<app-cm-breadcrumb
  [breadcrumbItems]="[
    { parts: ['VMS Dashboard'], link: '/dashboard-vms' }
  ]">
</app-cm-breadcrumb>
<div class="row">
  <div class="col-md-12"></div>
 
    <button mat-flat-button color="primary" class="btn w-50 text-right btnEmergencyPublish" (click)="OpenEmergencyPublish()">Emergency Publish</button>
  
</div>
<div class="row mb-2 mt-2 d-flex">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h6>Device Status</h6>
        <app-device-status></app-device-status>

      </div>
    </div>
  </div>

  <div class="col-md-9 vms-table-scroll">

    <app-cm-table [headArr]="headArr" [gridArr]="userList" [pagination]="true" [totalRecords]="totalRecords"
      [perPage]="perPage" [totalPages]="totalPages" [collectionSize]="collectionSize" (pager)="onPageChange($event)"
      (recordPerPage)="onPageRecordsChange($event)" (searchWithId)="onRowClicked($event)"
      (btnAction)="onButtonClicked($event)">
    </app-cm-table>


  </div>
</div>
</div>