.alert{
  padding: 20px 40px;
  min-width: 420px;
  position: relative;
  right: 0;
  top: 10px;
  border-radius: 8px;
  overflow: hidden;
   background: #fff;
   border-left: 8px solid;
}

/* alert type vms */ 
.alert-vms{
  /* background: #66ccff; */
  border-color: #088ed1;
}
.alert-vms .infoIcon{
  color: #088ed1;
}
.alert-vms .close-btn{
  background: #088ed1;
}
.alert-vms .close-btn:hover{
  background: #0370a7;
}
/* alert type pa */ 
.alert-pa{
  /* background: #a866ff; */
  border-color: #6e2cc4;
}
.alert-pa .infoIcon{
  color: #6e2cc4;
}
.alert-pa .close-btn{
  background: #6e2cc4;
}
.alert-pa .close-btn:hover{
  background: #48158a;
}
/* alert type atcs */ 
.alert-atcs{
  /* background: #ffbb76; */
  border-color: #f39537;
}
.alert-atcs .infoIcon{
  color: #f39537;
}
.alert-atcs .close-btn{
  background: #f39537;
}
.alert-atcs .close-btn:hover{
  background: #d6720d;
}
/* alert type parking */ 
.alert-parking{
  /* background: #85d685; */
  border-color:#539453;
}
.alert-parking .infoIcon{
  color: #539453;
}
.alert-parking .close-btn{
  background: #539453;
}
.alert-parking .close-btn:hover{
  background: #296829;
}

@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .infoIcon{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.alert .msg{
  padding: 0 20px;
  font-size: 16px;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
  color: #fff;
}


