.alert{
  padding: 20px 40px;
  min-width: 420px;
  position: relative;
  right: 0;
  top: 10px;
  border-radius: 8px;
  overflow: hidden;
   background: #fff;
   border-left: 8px solid;
}
.infoIcon{
  color: #000;
}
/* alert type vms */ 
.alert-vms{
  background: #afe2fb;
  border-color: #088ed1;
}
.alert-vms .infoIcon{
  color: #088ed1;
}
.alert-vms .close-btn{
  background: #088ed1;
}
.alert-vms .close-btn:hover{
  background: #0370a7;
}
/* alert type pa */ 
.alert-pa{
  background: #b4c2ff;
  border-color: #1c2d7b;
}
.alert-pa .infoIcon{
  color: #1c2d7b;
}
.alert-pa .close-btn{
  background: #1c2d7b;
}
.alert-pa .close-btn:hover{
  background: #0c1a57;
}
/* alert type atcs */ 
.alert-atcs{
  background: #ffd2a4;
  border-color: #ff9933;
}
.alert-atcs .infoIcon{
  color: #ff9933;
}
.alert-atcs .close-btn{
  background: #ff9933;
}
.alert-atcs .close-btn:hover{
  background: #d6720d;
}
/* alert type parking */ 
.alert-parking{
  background: #a5fda5;
  border-color:#539453;
}
.alert-parking .infoIcon{
  color: #539453;
}
.alert-parking .close-btn{
  background: #539453;
}
.alert-parking .close-btn:hover{
  background: #296829;
}

@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .infoIcon{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.alert .msg{
  padding: 0 20px;
  font-size: 14px;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
  color: #fff;
}


