*{margin: 0; padding: 0;}
html, body { height: 100%; }
body { color: var(--text-color);
    font-family: var(--font-family);;
    font-size: var(--font-size-base);;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    background-color: var(--background-color);
}
:root{
 /* Colors */
--primary-color: #1C2D7B;
--secondary-color: #272727;
--Territory: #F93;
--Territory-sky-blue: #6CF;
--Territory-teal: #099;
--Territory-Light-green: #6C6;
--Territory-Red: #FF5757;
--text-color: #000;
--background-color: #E2E2EA;
--White:#fff;

/* Typography */
--font-family: 'Poppins', sans-serif;
--font-size-base: 14px;
--font-size-heading: 22px;
--line-height: 28px;

 /* Spacing */
--spacer: 16px;
--spacer-lg: 32px;

 /* Border radius */
--border-radius: 8px;
--mdc-tab-indicator-active-indicator-color: #1C2D7B;
--mat-tab-header-active-hover-label-text-color:#1C2D7B;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer {
  transform: none !important;
}
.btn-primary{
  --mdc-protected-button-container-color: var(--primary-color);
    --mdc-protected-button-label-text-color: var(--White);
}
.h6, h6 {
  font-size: 0.9rem;
}
.fullscreenDiv{
  overflow-y: hidden;
}

.text-right {
    text-align: right;
  }

.text-left {
    text-align: left;
  }

.btnSubmit {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: none;
    white-space: nowrap;  
}

.btnCancel {
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 14px;      
    border-radius: 8px;
    font-size: 13px;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: none;
    white-space: nowrap;  
}
.mat-mdc-button .mdc-button__label,.mat-button .mdc-button__label{display: flex!important;}

 




