<div class="cm-breadcrumb card-header" aria-label="breadcrumb">

<div class="row d-flex align-item-center">
    <div class="col-md-6 d-flex align-item-center">
      <div *ngFor="let row of rows; let i = index" class="breadcrumb-row">
    <!-- <span class="breadcrumb-index">{{ row.index ?? (i + 1) }}.</span> -->
    <ng-container *ngIf="row.parts.length === 1">
      <h5 *ngIf="row.link; else plain" [routerLink]="row.link" class="breadcrumb-text" class="mb-0 text-primary">{{ row.parts[0] }}</h5>
      <ng-template #plain><span class="breadcrumb-text">{{ row.parts[0] }}</span></ng-template>
      
    </ng-container>
    <ng-container *ngIf="row.parts.length > 1">
      <span class="breadcrumb-path">
        <ng-container *ngFor="let p of row.parts; let last = last">
          <!-- <span class="crumb">{{ p }}</span> -->
           <i *ngIf="i > 0" class="fa fa-chevron-right breadcrumb-arrow"></i>
          <span *ngIf="!last" class="sep">&nbsp;&gt;&nbsp;</span>
        </ng-container>
      </span>
    </ng-container>
  </div>
    </div>
     <div class="col-md-3 d-flex align-items-center">
       <!-- <mat-label>Select Zone</mat-label> -->
                        <mat-form-field appearance="fill" class="w-100">
 
                    <mat-select placeholder=" -- Select Zone--">
                         
                        <!-- <mat-option class="clear-option" (click)="clearActions()">
                        Clear Selection
                        </mat-option>
                        <mat-option *ngFor="let option of ZoneOptions" [value]="option">
                            
                                    {{ option.text }}
                                </mat-option> -->
                    </mat-select>
                    </mat-form-field>
    </div>
    <div class="col-md-3">
       
            <mat-form-field class="w-100">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" >
                    <input matStartDate placeholder="Start date" (dateChange)="DateWiseFilter($event,'start')">
                    <input matEndDate placeholder="End date" (dateChange)="DateWiseFilter($event,'end')">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        
    </div>
   
</div>


  
</div>


