.cm-breadcrumb{
  padding: 8px 16px;
  /* background: transparent; */
      background-color: #1c2d7b;
    color: white;
    margin-top: 1%;
       margin-bottom: 1%;
}
.breadcrumb-row{
  font-family: Poppins, sans-serif;
  color: #2b2b2b;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.breadcrumb-index{
  color: #6b7280;
  margin-right: 8px;
  font-weight: 600;
}
.breadcrumb-text, .breadcrumb-path .crumb{
  color: #f6f7f8;
}
.sep{
  color: #6b7280;
}
.breadcrumb-path{
  display: inline-flex;
  align-items: center;
}

