.cm-breadcrumb{
  padding: 8px 16px;
  /* background: transparent; */
      background-color: #1c2d7b;
    color: white;
}
.breadcrumb-row{
  font-family: Poppins, sans-serif;
  color: #2b2b2b;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.breadcrumb-index{
  color: #6b7280;
  margin-right: 8px;
  font-weight: 600;
}
.breadcrumb-text, .breadcrumb-path .crumb{
  color: #f6f7f8;
}
.sep{
  color: #6b7280;
}
.breadcrumb-path{
  display: inline-flex;
  align-items: center;
}
::ng-deep .mat-mdc-text-field-wrapper  {
  --mdc-filled-text-field-container-color: #EDF2F6!important;
 border-radius: 8px!important;
border: 1px solid #E0E4EC;
background-color:#EDF2F6;
 }

 ::ng-deep .mat-mdc-paginator .mat-form-field, .mat-mdc-paginator-page-size-select {
  appearance: none; 
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 8px 0 0 !important;
  border: none !important;
}

::ng-deep .mat-mdc-paginator .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-mdc-paginator .mat-form-field-underline,
::ng-deep .mat-mdc-paginator .mat-form-field-outline {
  display: none !important;
}

::ng-deep .mat-mdc-paginator .mat-select-trigger {
  border: none !important;
  box-shadow: none !important;
  padding: 4px 8px;
  background-color: transparent !important;
}