<ul>
  <ng-container *ngFor="let key of getKeys(data)">
    <li>
      <span>
        {{ parentPath ? parentPath + '.' : '' }}{{ key }}
        <ng-container *ngIf="showValues && !isObject(data[key])">
          : <strong>{{ data[key] }}</strong>
        </ng-container>
      </span>

      <!-- Copy path -->
      <button (click)="onNodeSelect(key, parentPath)" class="copy-button">📋</button>

      <!-- If it's an object, recursively render -->
      <ng-container *ngIf="isObject(data[key])">
        <app-json-tree
          [data]="data[key]"
          [parentPath]="getFullPath(key, parentPath)"
          [showValues]="showValues"
          (nodeSelected)="nodeSelected.emit($event)">
        </app-json-tree>
      </ng-container>
    </li>
  </ng-container>
</ul>